@model IEnumerable<T會員老師>

@{
    ViewData["Title"] = "老師資料管理";
}

@section Styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    @* <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script> *@
    <link href="~/css/datatablesinline.css" rel="stylesheet" />
    <style>
        /*  頭部表格欄位樣式 */
        .imthead {
            background-color: #C4E1E1;
            font-weight: 700;
        }
        /*  新刪修按鈕排列方式 */
        .crudlist {
            display: flex;
            align-items: center;
            grid-gap: 10px;
        }
            /*  新刪修按鈕大小微調 */
            .crudlist li {
                padding: 15px;
                margin-bottom: 0;
            }
    </style>
}

<div class="header">
    <!-- 主頁上方操作流程序，記得有新增頁面時要記得編輯 -->
    <div class="left">
        <h1>@ViewData["Title"]</h1>
        <ul class="breadcrumb">
            <li><a asp-area="" asp-controller="SystemBackground" asp-action="Index">首頁</a></li>
            /
            <li><a asp-area="student_management" asp-controller="Member" asp-action="Index">學員管理系統</a></li>
            /
            <li><a href="#" class="active">@ViewData["Title"]</a></li>
        </ul>
    </div>
    <!-- 主頁上方操作流程序-->
</div>

<div>
    <ul class="crudlist">
        <li>
            @* <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">新增</button> *@
            <a asp-area="student_management" asp-controller="Teacher" asp-action="RegisterTeacher" class="btn btn-primary">新增</a>

        </li>
        @*         <li><button class="btn btn-primary">刪除</button></li>
        <li><button class="btn btn-secondary">修改</button></li> *@
    </ul>
</div>

@* <div class="bottom-data">
    <div class="orders">
        <div class="header">
            <i class='bx bx-receipt'></i>
            <h3>學生資訊</h3>
        </div>

        <table id="member_table" class="display">
            <thead class="imthead">
                <tr>
                    <th>姓名</th>
                    <th>性別</th>
                    <th>信箱</th>
                    <th>手機</th>
                    <th>狀態</th>
                    <th>鎖定</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model)
                {
                    <tr>
                        <td>@member.姓名</td>
                        <td>@member.性別</td>
                        <td>@member.信箱</td>
                        <td>@member.手機</td>
                        <td>@member.狀態</td>
                        <td>@member.鎖定</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
 *@
<div class="bottom-data">
    <div class="orders">
        <div class="header">
            @* 表格標題輸入地方 *@
            <i class='bx bx-receipt'></i> <!-- 表格的小icon -->
            <h3>老師資訊</h3> <!-- 表格的名稱 -->
            @*             <i class='bx bx-filter'></i>
            <i class='bx bx-search'></i>  *@

        </div>
        @* 表格內容輸入地方 *@
        <table id="test_table">
            <thead class="imthead">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.姓名)</td>
                    <td>@Html.DisplayNameFor(model => model.性別)</td>
                    <td>@Html.DisplayNameFor(model => model.信箱)</td>
                    <td>@Html.DisplayNameFor(model => model.手機)</td>
                    <td>@Html.DisplayNameFor(model => model.地址)</td>
                    <td>@Html.DisplayNameFor(model => model.狀態)</td>
                    <td>@Html.DisplayNameFor(model => model.鎖定)</td>
                </tr>
            </thead>
            @* 表格內容輸入地方 *@
        </table>
        @* 表格輸入結束 *@
    </div>
</div>



<!-- Button trigger modal -->
<!-- 按下新增的觸發 -->
@* <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered .modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">儲存送出</button>
            </div>
        </div>
    </div>
</div> *@

<div id="edit_member">
    @* 放入局部檢視 *@

</div>

@if (TempData["memberMessage"] != null)
{
    <script>alert('@Html.Raw(TempData["memberMessage"])')</script>
}
@section Scripts
{
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="//cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"> </script>
    <script>


        $(document).ready(function () {
            $("table").dataTable({
                autoWidth: false,
                ajax: {
                    type: 'GET',
                    url: "/student_management/Teacher/GetAllTeacherJson",
                    dataSrc: function (json) {
                        return json;
                    }
                },
                columns: [
                    { "data": "姓名", "width": "10 %" },
                    { "data": "性別", "width": "5 %" },
                    { "data": "信箱", "width": "10 %" },
                    { "data": "手機", "width": "10 %" },
                    { "data": "地址", "width": "20 %" },
                    { "data": "狀態", "width": "5 %" },
                    { "data": "鎖定", "width": "5 %" },
                    { "data": "老師id", "visible": false }, //放入表格pk但不要顯示，為了在row中引用
                    {
                        data: null,
                        title: "function",
                        render: function (data, type, row) {
                            return '<i class="bx bxs-message-square-edit" data-id="' + row.老師id + '"></i>'                            
                        }
                    }
                ],
                fixedHeader: { header: true },
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/zh-HANT.json'
                },
            });

            //刪除鍵 先隱藏
            // $('#test_table tbody').on('click', 'i.bxs-trash-alt', async function () {
            //     var productId = $(this).data('id');
            //     // console.log(productId)
            //     // const url = `@Url.Content("~/Products/DeleteStore/")?id=${productId}`;
            //     // const response = await fetch(url);
            //     // const data = await response.text();
            //     console.log(productId);
            // });


            //編輯鍵
            $('#test_table tbody').on('click', 'i.bxs-message-square-edit', async function () {
                //$('#memberModal').modal('show');
                var memberId = $(this).data('id');
                //console.log(">>" + memberId);
                //const urla = `@Url.Content("~/student_management/Teacher/GetTeacherEditPartialView")?id=${memberId}`;
                //console.log(">>" + urla);
                try {
                    const url = `@Url.Content("~/student_management/Teacher/GetTeacherEditPartialView")?id=${memberId}`;
                    const response = await fetch(url, { method: 'GET' });
                    const data = await response.text();
                    document.getElementById('edit_member').innerHTML = data;
                    $('#memberModal').modal('show');
                } catch (error) {
                    console.error('錯誤:', error.message);
                }

            });

        })
    </script>
}