@{
    ViewData["Title"] = "學員專區";
}
@* @User.Identity?.Name 這能抓到使用者的名稱 *@
@* @User?.FindFirst("FullName")?.Value 也能抓到使用者的名稱*@
@* @User?.FindFirst("StudentId")?.Value 這能抓到使用者的PK *@
@model text_loginWithBackgrount.ViewModels.MemberViewModel

@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>@ViewData["Title"]</h2>
                        <p>
                            學員專區是專為學員提供的服務平台。在這裡，您可以：讓您可以一站式完成所有學務相關事宜。
                        </p>
                        <p>學員專區是您學習生活的最佳伴侶。</p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <!-- 導覽列項目設置，請根據目前網頁的深度增減 -->
                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>
        </nav>
    </div>
}
<!-- ========================================================
       Blog Details Section
========================================================= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
        <div class="row g-5">
            <!-- 左方側邊欄：佔據寬度 4/12 -->
            <!-- 左方側邊欄：標籤分類 -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <!-- 搜尋框 -->
                    <div class="sidebar-item search-form">
                        <h3 class="sidebar-title">Search</h3>
                        <form action="" class="mt-3">
                            <input type="text">
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div><!-- End sidebar search formn-->
                    <!-- 文字列表 -->
                    <div class="sidebar-item categories">
                        <h3 class="sidebar-title m-1">學員服務</h3>
                        <div class="list-group">
                            <a asp-area="" asp-controller="Student" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center active" aria-current="true">個人資料 </a>
                            <a asp-area="class_discuss" asp-controller="discussforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">學習討論區</a>
                            <a asp-area="course_management" asp-controller="courseforStudent" asp-action="Index" asp-route-id="@User?.Claims.FirstOrDefault(c => c.Type == "StudentId").Value" class="list-group-item list-group-item-action m-2 border border-3 text-center">我的課程</a>
                            <a asp-area="video_management" asp-controller="videoforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">影片教材</a>
                            <a asp-area="ordering_system" asp-controller="orderforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">餐點訂單管理</a>
                            <a asp-area="job_vacancy" asp-controller="jobforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">我的履歷</a>
                            <a asp-area="quiz" asp-controller="QuizBg" asp-action="BgIndex" class="list-group-item list-group-item-action m-2 border border-3 text-center">我的測驗</a>
                            <a asp-area="" asp-controller="Login" asp-action="logout" class="list-group-item list-group-item-action m-2 border border-3 text-center text-danger">登出</a>
                        </div>
                    </div><!-- End sidebar categories-->
                </div><!-- End Blog Sidebar -->
            </div>
            <!-- 主要區域：佔據寬度 8/12 -->
            <div class="col-lg-8">
                <!-- 內容 -->
                <article class="blog-details">
                    <h2 class="title">個人資料</h2>
                    <div class="meta-top">
                        <p>
                            您可以在 Rasengan + 帳戶中查看及管理個人資訊
                        </p>
                    </div><!-- End meta top -->
                    <hr />
                    <form asp-action="StudentEdit" asp-controller="Student" method="post" role="form" class="php-email-form" id="StudentEdit">
                        <div class="row">
                            <div class="col-md-8 form-group mt-3">
                                <input asp-for="姓名" class="form-control" placeholder="姓名" id="name">
                                <span asp-validation-for="姓名" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 form-group mt-3">
                                <select asp-for="性別" class="form-control" id="gender" required>
                                    <option value="">請選擇性別</option>
                                    <option value="男">男</option>
                                    <option value="女">女</option>
                                </select>
                                <span asp-validation-for="性別" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group mt-3">
                                <input asp-for="身分證字號" class="form-control" placeholder="身分證字號" id="id_number">
                                <span asp-validation-for="身分證字號" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group mt-3">
                                <input asp-for="信箱" class="form-control" placeholder="信箱" id="email">
                                <span asp-validation-for="信箱" class="text-danger"></span>
                                <span id="emailErrorMessage" class="text-danger"></span>
                            </div>            
                            <div class="col-md-12 form-group mt-3">
                                <input asp-for="手機" class="form-control" placeholder="手機" id="phone">
                                <span asp-validation-for="手機" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group mt-3">
                                <input asp-for="地址" class="form-control" placeholder="地址" id="address">
                                <span asp-validation-for="地址" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group mt-3">
                                <input asp-for="生日" class="form-control" placeholder="生日" id="birthday">
                                <span asp-validation-for="生日" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group mt-3">
                                <input type="file" asp-for="圖片" class="form-control" placeholder="頭像" id="UserImage" accept=".png, .jpg, .jpeg" />
                                <span asp-validation-for="圖片" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group mt-3">
                                <input asp-for="學校" class="form-control" placeholder="學校" id="school">
                                <span asp-validation-for="學校" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group mt-3">
                                <input asp-for="科系" class="form-control" placeholder="科系" id="department">
                                <span asp-validation-for="科系" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group mt-3">
                                <select asp-for="學位" class="form-control" required id="degree">
                                    <option value="">----請選擇最高學位----</option>
                                    <option value="國小">國小</option>
                                    <option value="國中">國中</option>
                                    <option value="高中">高中</option>
                                    <option value="大學">大學</option>
                                    <option value="碩士">碩士</option>
                                    <option value="博士">博士</option>
                                </select>
                                <span asp-validation-for="學位" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group mt-3">
                                <select asp-for="畢肄" class="form-control" required id="graduation">
                                    <option value="">----請選擇畢肄業狀態----</option>
                                    <option value="畢業">畢業</option>
                                    <option value="肄業">肄業</option>
                                </select>
                                <span asp-validation-for="畢肄" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group mt-3">
                                <input asp-for="密碼" type="password" class="form-control" placeholder="若要修改請輸入密碼" id="password">
                                <span asp-validation-for="密碼" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 form-group mt-3">
                                <input asp-for="密碼驗證" type="password" class="form-control" placeholder="密碼再次確認" id="confirm_password">
                                <span asp-validation-for="密碼驗證" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 text-center mt-3">
                                <button type="submit" id="btn_edit">修改資訊</button>
                                @* <button type="button" id="fillDataBtn" class="btn btn-primary">DEMO</button> *@
                                 <div class="my-3">
                                    <div class="loading">Loading</div>
                                    <div class="error-message">請完成項目</div>
                                    <div class="sent-message">修改成功</div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="meta-bottom">
                        <i class="bi bi-calendar-check-fill"></i>
                        <ul class="cats">
                            <li>
                                <p>
                                    您上次於 @Model.修改日期 變更個人資訊
                                </p>
                            </li>
                        </ul>
                    </div><!-- End meta bottom -->
                </article><!-- End blog post -->
            </div>
        </div>
    </div>
</section><!-- End Blog Details Section -->
@section Scripts
{
    <script>
        @Html.Raw(TempData["return_message"]);
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // $("#btn_edit").click(async function (e) {
        //     e.preventDefault();

        //     let formData = $('#StudentEdit').serialize();
        //     $(".loading").addClass('d-block');

        //     try {
        //         const response = await fetch('/Student/StudentEdit', {
        //             method: 'POST',
        //             headers: {
        //                 'Content-Type': 'application/x-www-form-urlencoded' 
        //             },
        //             body: formData
        //         });

        //         if (!response.ok) {
        //             throw new Error('連線失敗');
        //         }

        //         $(".loading").removeClass('d-block');
        //         $(".error-message").removeClass('d-block');
        //         $(".sent-message").addClass('d-block');

        //     } catch (error) {
        //         $(".loading").removeClass('d-block');
        //         $(".error-message").addClass('d-block');
        //         console.error('錯誤!', error);
        //     }
        // });

    </script>
}