@model CompanyDetailViewModel
@{
    ViewData["Title"] = "公司詳細頁";
}
@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <nav>
            <div class="container">
                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li><a asp-area="job_vacancy" asp-controller="Job" asp-action="Index">就業媒合</a></li>
                    <li>@Model.CompanyName</li>
                </ol>
            </div>
        </nav>
    </div>
}
@section Styles {
    <link href="~/css/job_vacancy/jobcommonstyle.css" rel="stylesheet" />
    <style>
        

    </style>
}


<section class="Company-Details">
    <div class="container">
        <div class="job-header">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <h1 class="text-break">@Model.CompanyName</h1>
                    <h5 class="ml-auto">
                        <span>@Html.DisplayNameFor(model => model.taxID)</span> @Model.taxID
                    </h5>
                </div>
            </div>
        </div>

        <div class="position-relative">
            <div class="row">
                <div class="col">
                    <div class="dialog container-fluid">
                        <div class="row mb-3">
                            <h2>@Html.DisplayNameFor(model => model.CompanyProfile)</h2>
                        </div>
                        <div class="job-description-table row">
                            <div class="job-description col-12 mb-2">
                                <pre>@Model.CompanyProfile</pre>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 list-head">
                                    <h4>@Html.DisplayNameFor(model => model.Principal)</h4>
                                </div>
                                <div class="col-lg-6 list-data">
                                    <div class="t3 mb-0">
                                        <div class="t3 mb-0">@Model.Principal</div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 list-head">
                                    <h4>@Html.DisplayNameFor(model => model.CompanyPhone)</h4>
                                </div>
                                <div class="col-lg-6 list-data">
                                    <div class="t3 mb-0">@Model.CompanyPhone</div>
                                </div>
                            </div>
                            <!---->
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 list-head">
                                    <h4>@Html.DisplayNameFor(model => model.CompanyAddress)</h4>
                                </div>
                                <div class="col-lg-6 list-data">
                                    <div class="t3 mb-0">
                                        <span>@Model.CompanyAddress</span>
                                        <!---->
                                        <!---->
                                        <a href="https://www.google.com/maps?q=@Model.CompanyAddress" target="_blank" rel="noopener">
                                            <i class="bi bi-geo-alt-fill flex-shrink-0"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 list-head">
                                    <h4>@Html.DisplayNameFor(model => model.ContactPerson)</h4>
                                </div>
                                <div class="col-lg-6 list-data">
                                    <div class="t3 mb-0">@Model.ContactPerson</div>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 list-head">
                                    <h4>@Html.DisplayNameFor(model => model.ContactPhone)</h4>
                                </div>
                                <div class="col-lg-6 list-data">
                                    <div class="t3 mb-0">@Model.ContactPhone</div>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 list-head">
                                    <h4>@Html.DisplayNameFor(model => model.ContactEmail)</h4>
                                </div>
                                <div class="col-lg-6 list-data">
                                    <div class="t3 mb-0">@Model.ContactEmail</div>
                                </div>
                            </div>
                        </div>
                        <!---->
                    </div>

                    <div class="dialog container-fluid joblist" id="joblist">
                        <!-- 篩選排序列 -->
                        <div class="joblist-header">
                            <h2 class="mb-4">工作機會列表</h2>
                            <div class="row justify-content-between">
                                <div class="col col-auto col--type pr-0">
                                    <div class="row">

                                        <div class="col col-auto">
                                            <div class="position-relative">

                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="搜尋職務名稱" aria-label="搜尋職務名稱" maxlength="50" id="inputKeyword">
                                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col col-auto">
                                            <select class="form-select" aria-label="Default select example">
                                                <option value="0" selected>地區(不拘)</option>
                                                <option value="1">桃園市中壢區</option>
                                                <option value="2">新北市五股區</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-auto col--paging pl-0">
                                    <div class="row">
                                        <div class="col col-auto">
                                            <select class="form-select" aria-label="Default select example">
                                                <option value="0" selected>新舊排序</option>
                                                <option value="1">日期新→舊</option>
                                                <option value="2">日期舊→新</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 職缺列表 -->
                        <div id="job-items">
                            <!-- 動態產生 -->
                        </div>

                        <!-- 分頁 -->
                        <div class="d-flex justify-content-center">
                            <nav aria-label="Page navigation">
                                <ul class="pagination" id="ulPaging">
                                    <!-- 動態產生 -->
                                </ul>
                            </nav>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/job_vacancy/jobcommon.js"></script>
    <script>
        const jobItems = document.getElementById('job-items');
        const ulPaging = document.getElementById('ulPaging');

        //對應 SearchJobDTO
        const searchData = {
            "companyID": @Model.companyID,
            "keyword": "",
            "page": 1,
            "pageSize": 5,
            "location": "",
            "sortBy": "",
            "sortType": "asc"
        };

        let totalPages;

        const loadData = async () => {

            const response = await fetch('@Url.Content("~/job_vacancy/JobAPI/CompanyJoblist")', {
                'method': 'POST',
                'body': JSON.stringify(searchData),
                'headers': {
                    'Content-Type': 'application/json'
                }
            });
            if (response.ok) {
                const datas = await response.json();

                // 檢查 JSON 資料是否為空
                if (datas.companyJobsResult !== null && datas.companyJobsResult.length !== 0) {

                    // 創建工作性質與圖片路徑的映射
                    const jobTypeImageMap = {
                        '全職': '@Url.Content("~/images/job_vacancy/fulltime.png")',
                        '兼職': '@Url.Content("~/images/job_vacancy//parttime.png")',
                        '派遣': '@Url.Content("~/images/job_vacancy/dispatche.png")',
                        'default': '@Url.Content("~/images/job_vacancy/jobtype.png")'
                    };

                    //顯示資料（對應CompanyJobPagingDTO）
                    const displayData = datas.companyJobsResult.map(jobs => {
                        const { f職務名稱, f工作地點, f工作性質, f薪水待遇, f需求人數, f最後更新時間, fId } = jobs;

                        //根據工作性質獲取對應的圖片
                        const jobTypeImagePath = jobTypeImageMap[f工作性質] || jobTypeImageMap['default'];

                        //設定顯示的工作地點
                        let location = '';
                        if (jobs.f工作地點) {
                            location = jobs.f工作地點.substring(0, 6);
                        } else {
                            location = '暫不提供';
                        }

                        // 設定顯示的最後更新時間（呼叫共用方法）
                        let updateTime = formatDateTime(jobs.f最後更新時間);

                        return (`<div class="job-item item-border p-4 mb-4">
                                    <div class="row g-4">
                                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                            <img src="${jobTypeImagePath}" class="img-fluid border rounded flex-shrink-0" alt="">
                                            <div class="text-start ps-4">
                                                <h5 class="mb-3">${f職務名稱}</h5>
                                                <span class="text-truncate me-3"><i class="bi bi-geo-alt-fill flex-shrink-0"></i> ${location}</span>
                                                <span class="text-truncate me-3"><i class="bi bi-clock flex-shrink-0"></i> ${f工作性質}</span>
                                                <span class="text-truncate me-3"><i class="bi bi-cash flex-shrink-0"></i> ${f薪水待遇}</span>
                                                <span class="text-truncate me-0"><i class="bi bi-people-fill flex-shrink-0"></i> ${f需求人數}</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                            <div class="d-flex mb-3">
                                                <a href="/job_vacancy/Job/JobDetails/${fId}" class="btn-detail">詳細資訊</a>
                                            </div>
                                            <small class="text-truncate"><i class="bi bi-calendar2-week-fill"></i> 更新時間：${updateTime}</small>
                                        </div>
                                    </div>
                                </div>`)

                    })
                    jobItems.innerHTML = displayData.join("");

                    //動態生成分頁元素
                    totalPages = datas.totalPages;
                    let liPaging = `<li class="page-item" id="previousPage"><a class="page-link" onclick="pagingHandler('prev')">上一頁</a></li>`
                    for (let i = 1; i <= totalPages; i++) {
                        liPaging += ` <li class="page-item" onclick="pagingHandler(${i})"><a class="page-link">${i}</a></li>`
                    }
                    liPaging += `<li class="page-item" id="nextPage"><a class="page-link" onclick="pagingHandler('next')">下一頁</a></li>`
                    ulPaging.innerHTML = liPaging;

                } else {
                    console.log('沒有返回任何資料');

                    jobItems.innerHTML = `<div class="job-item item-border p-4 mb-4">
                                            <div class="row g-4">
                                                <div class="col-sm-12 col-md-8 d-flex align-items-center no_data">
                                                    目前沒有職缺
                                                </div>
                                            </div>
                                        </div>`;

                }
            } else {
                // 處理回應錯誤的情況
                console.error('回應錯誤:', response.statusText);
            }


        };

        loadData();


        //todo 無法成功增減disabled屬性
        // 根據選取分頁變換內容
        const pagingHandler = page => {
            const previousPage = document.getElementById('previousPage');
            const nextPage = document.getElementById('nextPage');


            // 更新查詢頁碼
            if (page === 'prev') {
                if (searchData.page === 1) {
                    previousPage.classList.add('disabled');
                } else {
                    previousPage.classList.remove('disabled');
                    searchData.page -= 1;
                }
            } else if (page === 'next') {
                if (searchData.page === totalPages) {
                    nextPage.classList.add('disabled');

                } else {
                    nextPage.classList.remove('disabled');
                    searchData.page += 1;
                }
            } else {
                searchData.page = page;
            }

            loadData();
        }



        //關鍵字搜尋
        inputKeyword.addEventListener('keydown', event => {
            if (event.key === "Enter") {
                searchData.keyword = event.target.value;  //event.target 在此指 inputKeyword 這個元素
                searchData.page = 1;
                loadData();
            }
        })

    </script>
}