@{
    ViewData["Title"] = "就業媒合";
}
@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>@ViewData["Title"]</h2>
                        <p>就業媒合之廠商請從企業入口洽詢！</p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container d-flex justify-content-between align-items-center">
                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
                <button type="button" class="btn btn-entrance">
                    <a href="#">企業入口</a>
                </button>
            </div>
        </nav>

    </div>
}
@section Styles {
    <link href="~/css/job_vacancy/jobcommonstyle.css" rel="stylesheet" />
    <style>
        
    </style>
}

<section class="Job-Vacancies">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>熱門職缺一覽</h2>
            <p>需登入帳號才能獲取詳細資訊</p>
        </div>

        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <!-- 分頁標籤 -->
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item d-flex align-items-center justify-content-center">
                    <a class="text-center pb-3 active" id="tab-all">所有職缺</a>
                </li>
                <li class="nav-item d-flex align-items-center justify-content-center">
                    <a class="text-center pb-3" id="tab-fulltime">全職</a>
                </li>
                <li class="nav-item d-flex align-items-center justify-content-center">
                    <a class="text-center pb-3" id="tab-parttime">兼職</a>
                </li>
                <li class="nav-item d-flex align-items-center justify-content-center">
                    <a class="text-center pb-3" id="tab-dispatch">派遣</a>
                </li>
            </ul>

            <!-- 查詢列 -->
            <div class="joblist-header">
                <div class="row justify-content-between">
                    <div class="col col-auto col--type pr-0">
                        <div class="row">

                            <div class="col col-auto">
                                <div class="position-relative">

                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="搜尋職務名稱" aria-label="搜尋職務名稱" maxlength="50" id="inputKeyword">
                                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
                                    </div>
                                </div>

                            </div>

                            <div class="col col-auto">
                                <select class="form-select" aria-label="Default select example">
                                    <option value="0" selected>地區(不拘)</option>
                                    <option value="1">桃園市中壢區</option>
                                    <option value="2">新北市五股區</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col col-auto col--paging pl-0">
                        <div class="row">
                            <div class="col col-auto">
                                <select class="form-select" aria-label="Default select example">
                                    <option value="0" selected>新舊排序</option>
                                    <option value="1">日期新→舊</option>
                                    <option value="2">日期舊→新</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 職缺內容 -->
            <div class="tab-content" id="jobList">
                <!-- 動態生成 -->
            </div>
            @* <a class="btn btn-more py-3 px-5" href="">更多職缺</a> *@
        </div>

    </div>
</section>

@section Scripts {
    <script src="~/js/job_vacancy/jobcommon.js"></script>
    <script>

        let currentPage = 1; // 當前頁數
        let currentTabName = 'all'; //當前頁籤

        const jobListElement = document.getElementById('jobList');

        // 定義不同 tab 的 ID 和對應名稱
        const tabs = [
            { id: 'tab-all', name: 'all' },
            { id: 'tab-fulltime', name: 'fulltime' },
            { id: 'tab-parttime', name: 'parttime' },
            { id: 'tab-dispatch', name: 'dispatch' }
        ];

        // 根據 tabName 載入相應的的職缺資料
        const loadJobs = async (tabName) => {
            const response = await fetch(`@Url.Content("~/job_vacancy/JobAPI/GetJobsByTabName/${tabName}")`);
            const jobs = await response.json();

            renderJobs(jobs, true);
        }

        // 渲染職缺資料到UI
        const renderJobs = (jobs, clearExisting = true) => {

            // 根據clearExisting參數的值，決定是否清空現有列表
            if (clearExisting) {
                jobListElement.innerHTML = '';
            }

            // 創建工作性質與圖片路徑的映射
            const jobTypeImageMap = {
                '全職': '@Url.Content("~/images/job_vacancy/fulltime.png")',
                '兼職': '@Url.Content("~/images/job_vacancy/parttime.png")',
                '派遣': '@Url.Content("~/images/job_vacancy/dispatche.png")',
                'default': '@Url.Content("~/images/job_vacancy/jobtype.png")'
            };

            jobs.forEach(job => {

                //根據工作性質獲取對應的圖片
                const jobTypeImagePath = jobTypeImageMap[job.jobType] || jobTypeImageMap['default'];

                //設定顯示的工作地點
                let jobLocation = job.jobLocation.substring(0, 6);

                // 設定顯示的最後更新時間（呼叫共用方法）
                let updateTime = formatDateTime(job.updateTime);

                const jobHTML = `<div class="job-item p-4 mb-4">
                                    <div class="row g-4">
                                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                            <img src="${jobTypeImagePath}" class="img-fluid border rounded flex-shrink-0" alt="">
                                            <div class="text-start ps-4">
                                                <h5>${job.jobTitle}</h5>
                                                <h6 class="mb-3"><a href="/job_vacancy/Job/CompanyDetails/${job.companyID}">${job.companyName}</a></h6>
                                                <span class="text-truncate me-3"><i class="bi bi-geo-alt-fill flex-shrink-0"></i> ${jobLocation}</span>
                                                <span class="text-truncate me-3"><i class="bi bi-clock flex-shrink-0"></i> ${job.jobType}</span>
                                                <span class="text-truncate me-3"><i class="bi bi-cash flex-shrink-0"></i> ${job.salary}</span>
                                                <span class="text-truncate me-0"><i class="bi bi-people-fill flex-shrink-0"></i> ${job.requiredPeople}</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                            <div class="d-flex mb-3 mt-3">
                                                <button type="button" class="btn btn-light btn-circle me-3 btn-like"><i class="bi bi-heart"></i></button>
                                                <a href="/job_vacancy/Job/JobDetails/${job.jobID}" class="btn-detail">詳細資訊</a>
                                            </div>
                                            <small class="text-truncate"><i class="bi bi-calendar2-week-fill"></i> 更新時間：${updateTime}</small>
                                        </div>
                                    </div>
                                </div>`;

                jobListElement.innerHTML += jobHTML;
            });
        }

        // 初始化頁面，默認加載全部職缺
        loadJobs(currentTabName);

        // 監聽頁籤點擊事件，切換不同類別的職缺
        tabs.forEach(tab => {
            const tabElement = document.getElementById(tab.id);
            tabElement.addEventListener('click', () => {

                tabs.forEach(tab => {
                    document.getElementById(tab.id).classList.remove('active');
                });

                tabElement.classList.add('active');

                // 設置currentTabName並載入對應的資料
                currentTabName = tab.name;
                loadJobs(tab.name);
            });
        });



        //監聽視窗滾動事件，滾動到底部執行載入更多資料
        window.addEventListener('scroll', () => {
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                loadMoreData();
            }
        });

        //載入更多職缺資料
        const loadMoreData = async () => {
            // 呼叫後端API獲取下一批資料
            const response = await fetch(`@Url.Content("~/job_vacancy/JobAPI/GetJobsByTabName/")${currentTabName}?page=${currentPage + 1}`);
            const newData = await response.json();

            // 更新畫面，將新資料加入到列表中
            renderJobs(newData, false);

            // 更新當前頁數
            currentPage++;
        };

    </script>
}