@{
    ViewData["jobTitle"] = "後端工程師";
    ViewData["companyName"] = "資展國際股份有限公司";
}
@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <nav>
            <div class="container d-flex justify-content-between align-items-center">
                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li><a asp-area="job_vacancy" asp-controller="Job" asp-action="Index">就業媒合</a></li>
                    <li><a asp-area="job_vacancy" asp-controller="Job" asp-action="CompanyDetails">@ViewData["companyName"]</a></li>
                    <li>@ViewData["jobTitle"]</li>
                </ol>
                <div style="margin-top: -10px; margin-bottom: -10px">
                    <button type="button" class="btn btn-hollow btn-like"><i class="bi bi-heart"></i> 收藏</button>
                    <button type="button" class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#applyModal">
                        <i class="bi bi-envelope"></i> 應徵
                    </button>
                </div>
            </div>
        </nav>
    </div>
}
@section Styles{
    <link href="~/css/job_vacancy/jobcommonstyle.css" rel="stylesheet" />
    <style>
        
    </style>
}

<!-- Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="applyModalLabel">發送應徵信</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group mb-1">
                            <div class="control-label mb-2">應徵工作：<span>@ViewData["jobTitle"]</span></div>
                        </div>

                        <div class="form-group mb-4">
                            <div class="control-label col-lg-4 mb-2">選擇履歷：</div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="resumes" id="resume1" value="" checked>
                                <label class="form-check-label" for="resume1">我的履歷1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="resumes" id="resume2" value="">
                                <label class="form-check-label" for="resume2">我的履歷2</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label mb-2">應徵信件內容：</div>
                            <textarea class="container-fluid">您好，希望能有參加面試的機會。</textarea>
                            <div class="d-flex justify-content-end">
                                <div>字數：<span id="word-count">0</span> / <span style="color:#f85a40">2000</span></div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-normal">
                    <a asp-area="job_vacancy" asp-controller="Job" asp-action="Index">確認送出</a>
                </button>
                <button type="button" class="btn btn-preview">
                    <a asp-area="job_vacancy" asp-controller="Job" asp-action="ResumePreview" target="_blank">送出前預覽</a>
                </button>
            </div>
        </div>
    </div>
</div>


<section class="Job-Details">
    <div class="container">
        <div class="job-header">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <h1 class="text-break">@ViewData["jobTitle"]</h1>
                    <div class="d-flex align-items-center">
                        <h5><a asp-area="job_vacancy" asp-controller="Job" asp-action="CompanyDetails">@ViewData["companyName"]</a></h5>
                        <p>2024/02/26 15:25:45 更新</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="position-relative">
            <div class="row">
                <div class="col">
                    <div class="dialog container-fluid">
                        <div class="row mb-3">
                            <h2>工作內容</h2>
                        </div>
                        <div class="job-description-table row">
                            <div class="job-content col-12 mb-2">
                                <p>
                                    日系傳統工藝培育台灣在地人才，
                                    性質為金屬表面紋理製作技術產業，
                                    海外研修（日本／中國／泰國／馬來西亞/印尼/越南）

                                    開拓人生視野，專注技術專業；
                                    三惠金屬隸屬世界佔有率第一Mold-Tech Group，
                                    由母公司Mold-Tech Japan設立在台灣唯一加工據點，
                                    努力積極培養在地技術人才，不定期邀請海外技師來台指導；

                                    公司勞健保，團保，員工福利，三節獎金，聚餐；
                                    不斷導入全球最新技術運用，共同成長，一同進步

                                    隨著學習能力跟應對能力成長，薪資也會跟著調整，
                                    只要你有心想學習，想學習一技之長，
                                    歡迎你來挑戰自我！
                                </p>
                            </div>
                            <div class="row job-content-table">
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">薪水待遇</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data">
                                        <p class="mb-0">月薪30,000~72,000元</p>
                                    </div>
                                </div>
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">工作性質</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data">
                                        <p class="mb-0">全職 </p>
                                    </div>
                                </div>
                                <!---->
                                <!---->
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">工作地點</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data d-flex align-items-center">
                                        <p class="mb-0">臺北市大安區復興南路1段390號15樓</p>
                                        <a href="https://www.google.com/maps?q=資展國際" target="_blank" rel="noopener" class="ml-auto">
                                            <i class="bi bi-geo-alt-fill flex-shrink-0"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">工作時段</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data">
                                        <p class="mb-0">日班</p>
                                    </div>
                                </div>
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">輪班需求</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data">
                                        <p class="mb-0">需要</p>
                                    </div>
                                </div>
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">需求人數</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data">
                                        <p class="mb-0">6~12人 </p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!---->
                    </div>
                    <div class="dialog container-fluid">
                        <div class="row mb-3">
                            <h2>條件要求</h2>
                        </div>
                        <div class="row job-content-table">
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">學歷要求</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <p class="mb-0">高中以下、高中、專科、大學、碩士 </p>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">語文條件</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <p class="mb-0">不拘</p>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">工作技能</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <p class="mb-0">達成產能及出貨目標、維持產線正常運轉並跟催生產進度</p>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">其他條件</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <p class="mb-0">未填寫</p>
                                </div>
                            </div>
                            <!---->
                        </div>
                        <!---->
                    </div>
                    <div class="dialog container-fluid">
                        <div class="row mb-3">
                            <h2>聯絡方式</h2>
                        </div>
                        <div class="row job-content-table">
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">聯絡人</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <p class="mb-0">鄭明傑</p>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">電洽</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <p class="mb-0">03-4636622</p>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">Email</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <p class="mb-0">aaaa@webmail.com</p>
                                </div>
                            </div>
                            <!---->
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/job_vacancy/jobcommon.js"></script>
    <script>
        const textarea = document.querySelector('textarea');
        const wordCount = document.getElementById('word-count');
        wordCount.textContent = textarea.value.length;

        textarea.addEventListener('input', function () {
            const content = textarea.value;
            wordCount.textContent = content.length;
        });

    </script>
}