@model JobDetailViewModel
@{
    ViewData["Title"] = "職缺詳細頁";
}


@section Styles {
    <link href="~/css/job_vacancy/jobcommonstyle.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
    <style>

    </style>
}
@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <nav>
            <div class="container d-flex justify-content-between align-items-center">
                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li><a asp-area="job_vacancy" asp-controller="Job" asp-action="Index">就業媒合</a></li>
                    <li><a asp-area="job_vacancy" asp-controller="Job" asp-action="CompanyDetails" asp-route-CompanyID="@Model.CompanyID">@Model.CompanyName</a></li>
                    <li>@Model.JobTitle</li>
                </ol>
                <div style="margin-top: -10px; margin-bottom: -10px">
                    <button type="button" class="btn btn-hollow btn-like @(Model.IsFavorite ? "active" : "")" job-id="@Model.JobID")><i class="bi bi-heart"></i> 收藏</button>
                    <button type="button" class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#applyModal" onclick="popup_apply(@ViewData["ApplyStudentID"])">
                        <i class="bi bi-envelope"></i> 應徵
                    </button>
                </div>
            </div>
        </nav>
    </div>
}

<section class="Job-Details">
    <div class="container">
        <div class="job-header">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <h1 class="text-break">@Model.JobTitle</h1>
                    <div class="d-flex align-items-center">
                        <h5><a asp-area="job_vacancy" asp-controller="Job" asp-action="CompanyDetails" asp-route-CompanyID="@Model.CompanyID">@Model.CompanyName</a></h5>
                        <p>@Model.UpdateTime</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="position-relative">
            <div class="row">
                <div class="col">
                    <div class="dialog container-fluid">
                        <div class="row mb-3">
                            <h2>工作內容</h2>
                        </div>
                        <div class="job-description-table row">
                            <div class="job-content col-12 mb-2">
                                <pre>@Model.JobContent</pre>
                            </div>
                            <div class="row job-content-table">
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">@Html.DisplayNameFor(model => model.Salary)</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data">
                                        <p class="mb-0">@Model.Salary</p>
                                    </div>
                                </div>
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">@Html.DisplayNameFor(model => model.JobType)</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data">
                                        <p class="mb-0">@Model.JobType</p>
                                    </div>
                                </div>
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">@Html.DisplayNameFor(model => model.JobLocation)</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data d-flex align-items-center">
                                        <p class="mb-0">@Model.JobLocation</p>
                                        <a href="https://www.google.com/maps?q=@Model.JobLocation)" target="_blank" rel="noopener" class="ml-auto">
                                            <i class="bi bi-geo-alt-fill flex-shrink-0"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">@Html.DisplayNameFor(model => model.JobTime)</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data">
                                        <p class="mb-0">@Model.JobTime</p>
                                    </div>
                                </div>
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">@Html.DisplayNameFor(model => model.ShiftRequirement)</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data">
                                        <p class="mb-0">@Model.ShiftRequirement</p>
                                    </div>
                                </div>
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">@Html.DisplayNameFor(model => model.RequiredPeople)</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data">
                                        <p class="mb-0">@Model.RequiredPeople</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!---->
                    </div>
                    <div class="dialog container-fluid">
                        <div class="row mb-3">
                            <h2>條件要求</h2>
                        </div>
                        <div class="row job-content-table">
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">@Html.DisplayNameFor(model => model.AcademicRequirement)</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <pre class="mb-0">@Model.AcademicRequirement</pre>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">@Html.DisplayNameFor(model => model.LanguageCondition)</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <pre class="mb-0">@Model.LanguageCondition</pre>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">@Html.DisplayNameFor(model => model.WorkAbility)</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <pre class="mb-0">@Model.WorkAbility</pre>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">@Html.DisplayNameFor(model => model.OtherCondition)</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <pre class="mb-0">@Model.OtherCondition</pre>
                                </div>
                            </div>
                            <!---->
                        </div>
                        <!---->
                    </div>
                    <div class="dialog container-fluid">
                        <div class="row mb-3">
                            <h2>聯絡方式</h2>
                        </div>
                        <div class="row job-content-table">
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">@Html.DisplayNameFor(model => model.ContactPerson)</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <p class="mb-0">@Model.ContactPerson</p>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">@Html.DisplayNameFor(model => model.ContactPhone)</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <p class="mb-0">@Model.ContactPhone</p>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">@Html.DisplayNameFor(model => model.ContactEmail)</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <p class="mb-0">@Model.ContactEmail</p>
                                </div>
                            </div>
                            <!---->
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 應徵 Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="applyModalLabel">發送應徵信</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btnCloseApply"></button>
            </div>
            <div class="modal-body" id="apply_context">
                <!-- 互動視窗內容 -->
            </div>

            <div class="modal-footer">
                <input type="submit" class="btn btn-normal" id="btnSummitApply" value="確認送出" />
                @* <button type="button" class="btn btn-preview">
                <a asp-area="job_vacancy" asp-controller="Job" asp-action="ResumePreview" target="_blank">送出前預覽</a>
                </button> *@
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/job_vacancy/jobcommon.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>
    <script>

        //呼叫履歷資料，返回應徵信編輯頁
        function popup_apply(studentId) {

            const applyContext = $("#apply_context");
            $.ajax({
                type: 'GET',
                url: '/job_vacancy/job/GetResumeTitles/',
                data: { studentID: studentId, jobID: '@Model.JobID' },
                success: function (result) {
                    console.log('呼叫應徵信 success');
                    // 清空並設置內容
                    applyContext.html(result);

                    //設定應徵信字數顯示
                    const textarea = document.querySelector('.word_count_textarea');
                    const wordCount = document.getElementById('word-count');
                    const maxLength = 500;
                    wordCount.textContent = textarea.value.length; // 初始化字數顯示

                    textarea.addEventListener('input', function () {
                        let content = textarea.value;
                        let currentLength = content.length; // 獲取當前字數

                        // 如果超過最大字數，則截斷內容並更新 textarea 內容與字數顯示
                        if (currentLength > maxLength) {
                            textarea.value = content.slice(0, maxLength);
                            currentLength = textarea.value.length;
                        }

                        // 更新字數顯示
                        wordCount.textContent = currentLength;
                    });
                },
                error: function (error) {
                    console.error('呼叫應徵信 error', error);
                    // 顯示錯誤提示給用戶
                    applyContext.html(`<div class="alert alert-danger" role="alert">請求失敗：${error.statusText}</div>`);
                }
            });
        }

        // 提交應徵信
        document.getElementById('btnSummitApply').addEventListener('click', async (event) => {

            event.preventDefault();  //停止預設行為

            const formData = new FormData(document.getElementById('formApply'));

            for (const pair of formData.entries()) {
                console.log(pair[0] + ': ' + pair[1]);
            }
            //return;

            const url = '/job_vacancy/job/ApplyLetter/';
            const response = await fetch(url, {
                body: formData,
                method: 'POST'
            });

            const data = await response.json();
            if (response.ok) {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: '應徵成功',
                        customClass: {
                            confirmButton: 'btn btn-normal',
                        },
                        confirmButtonColor: '#008374',
                    });

                    $('#apply_context').empty(); //清空partialview的內容
                    document.getElementById('btnCloseApply').click();  //關閉modal
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: '應徵送出失敗',
                        text: data.message,
                        customClass: {
                            confirmButton: 'btn btn-normal',
                        },
                        confirmButtonColor: '#008374',
                    });
                }
            } else {
                Swal.fire({
                    icon: 'error',
                    title: '應徵送出失敗',
                    text: data.message,
                    customClass: {
                        confirmButton: 'btn btn-normal',
                    },
                    confirmButtonColor: '#008374',
                });
            }
        });


        document.addEventListener('DOMContentLoaded', function () {

            //設置職缺收藏按鍵監聽事件
            const likeBtn = document.querySelector('.btn-like');
            likeBtn.addEventListener('click', function () {
                let jobID = $(this).attr('job-id');
                $.ajax({
                    type: 'GET',
                    url: '/job_vacancy/job/ToggleFavorite/' + jobID,
                    success: function (result) {
                        console.log('啟動收藏開關 success');

                        // 切換按鈕的 active 狀態
                        likeBtn.classList.toggle('active');

                    },
                    error: function (error) {
                        console.error('啟動收藏開關 error', error);
                    }
                });
            });
        });

    </script>
}