@model JobDetailViewModel
@{
    ViewData["Title"] = "職缺詳細頁";
}
@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <nav>
            <div class="container d-flex justify-content-between align-items-center">
                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li><a asp-area="job_vacancy" asp-controller="Job" asp-action="Index">就業媒合</a></li>
                    <li><a asp-area="job_vacancy" asp-controller="Job" asp-action="CompanyDetails">@Model.CompanyName</a></li>
                    <li>@Model.JobTitle</li>
                </ol>
                <div style="margin-top: -10px; margin-bottom: -10px">
                    <button type="button" class="btn btn-hollow btn-like"><i class="bi bi-heart"></i> 收藏</button>
                    <button type="button" class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#applyModal" onclick="popup_apply(17)">
                        <i class="bi bi-envelope"></i> 應徵
                    </button>
                </div>
            </div>
        </nav>
    </div>
}
@section Styles{
    <link href="~/css/job_vacancy/jobcommonstyle.css" rel="stylesheet" />
    <style>
        
    </style>
}

<!-- Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="applyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="applyModalLabel">發送應徵信</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="switch_context">
                <!-- 互動視窗內容 -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-normal">
                    <a asp-area="job_vacancy" asp-controller="Job" asp-action="Index">確認送出</a>
                </button>
                <button type="button" class="btn btn-preview">
                    <a asp-area="job_vacancy" asp-controller="Job" asp-action="ResumePreview" target="_blank">送出前預覽</a>
                </button>
            </div>
        </div>
    </div>
</div>


<section class="Job-Details">
    <div class="container">
        <div class="job-header">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <h1 class="text-break">@Model.JobTitle</h1>
                    <div class="d-flex align-items-center">
                        <h5><a asp-area="job_vacancy" asp-controller="Job" asp-action="CompanyDetails" asp-route-CompanyID="@Model.CompanyID">@Model.CompanyName</a></h5>
                        <p>@Model.UpdateTime</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="position-relative">
            <div class="row">
                <div class="col">
                    <div class="dialog container-fluid">
                        <div class="row mb-3">
                            <h2>工作內容</h2>
                        </div>
                        <div class="job-description-table row">
                            <div class="job-content col-12 mb-2">
                                <pre>@Model.JobContent</pre>
                            </div>
                            <div class="row job-content-table">
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">@Html.DisplayNameFor(model => model.Salary)</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data">
                                        <p class="mb-0">@Model.Salary</p>
                                    </div>
                                </div>
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">@Html.DisplayNameFor(model => model.JobType)</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data">
                                        <p class="mb-0">@Model.JobType</p>
                                    </div>
                                </div>
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">@Html.DisplayNameFor(model => model.JobLocation)</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data d-flex align-items-center">
                                        <p class="mb-0">@Model.JobLocation</p>
                                        <a href="https://www.google.com/maps?q=@Model.JobLocation)" target="_blank" rel="noopener" class="ml-auto">
                                            <i class="bi bi-geo-alt-fill flex-shrink-0"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">@Html.DisplayNameFor(model => model.JobTime)</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data">
                                        <p class="mb-0">@Model.JobTime</p>
                                    </div>
                                </div>
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">@Html.DisplayNameFor(model => model.ShiftRequirement)</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data">
                                        <p class="mb-0">@Model.ShiftRequirement</p>
                                    </div>
                                </div>
                                <div class="list-row row mb-2">
                                    <div class="col-lg-2 col-12 list-head">
                                        <h4 class="mb-0">@Html.DisplayNameFor(model => model.RequiredPeople)</h4>
                                    </div>
                                    <div class="col-lg-10 col-12 list-data">
                                        <p class="mb-0">@Model.RequiredPeople</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!---->
                    </div>
                    <div class="dialog container-fluid">
                        <div class="row mb-3">
                            <h2>條件要求</h2>
                        </div>
                        <div class="row job-content-table">
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">@Html.DisplayNameFor(model => model.AcademicRequirement)</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <pre class="mb-0">@Model.AcademicRequirement</pre>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">@Html.DisplayNameFor(model => model.LanguageCondition)</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <pre class="mb-0">@Model.LanguageCondition</pre>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">@Html.DisplayNameFor(model => model.WorkAbility)</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <pre class="mb-0">@Model.WorkAbility</pre>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">@Html.DisplayNameFor(model => model.OtherCondition)</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <pre class="mb-0">@Model.OtherCondition</pre>
                                </div>
                            </div>
                            <!---->
                        </div>
                        <!---->
                    </div>
                    <div class="dialog container-fluid">
                        <div class="row mb-3">
                            <h2>聯絡方式</h2>
                        </div>
                        <div class="row job-content-table">
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">@Html.DisplayNameFor(model => model.ContactPerson)</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <p class="mb-0">@Model.ContactPerson</p>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">@Html.DisplayNameFor(model => model.ContactPhone)</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <p class="mb-0">@Model.ContactPhone</p>
                                </div>
                            </div>
                            <div class="list-row row mb-2">
                                <div class="col-lg-2 col-12 list-head">
                                    <h4 class="mb-0">@Html.DisplayNameFor(model => model.ContactEmail)</h4>
                                </div>
                                <div class="col-lg-10 col-12 list-data">
                                    <p class="mb-0">@Model.ContactEmail</p>
                                </div>
                            </div>
                            <!---->
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/job_vacancy/jobcommon.js"></script>
    <script>


        function popup_apply(studentId) {

            const switchContext = $("#switch_context");
            const applyUrl = "/job_vacancy/jobapi/GetResumeTitles" + studentId;

            //return console.log("呼叫成功" + studentId);
            $.ajax({
                type: 'GET',
                url: applyUrl,
                success: function (result) {
                    console.log('Ajax request success');
                    // 清空並設置內容
                    switchContext.html(result);
                },
                error: function (error) {
                    console.error('Ajax request error', error);
                    // 顯示錯誤提示給用戶
                    switchContext.html(`<div class="alert alert-danger" role="alert">請求失敗：${error.statusText}</div>`);
                }
            });
        }








        // const textarea = document.querySelector('textarea');
        // const wordCount = document.getElementById('word-count');
        // wordCount.textContent = textarea.value.length;

        // textarea.addEventListener('input', function () {
        //     const content = textarea.value;
        //     wordCount.textContent = content.length;
        // });

    </script>
}