@model Class_system_Backstage_pj.Models.T課程課程

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>T課程課程</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.開始時間)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.開始時間)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.結束時間)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.結束時間)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.課堂摘要)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.課堂摘要)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.狀態)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.狀態)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.值日生)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.值日生.信箱)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.班級科目)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.班級科目.班級科目id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.課程id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
