@model vExamInfo

@{
    ViewData["Title"] = "考試管理";
}

@section Styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <link href="~/css/datatablesinline.min.css" rel="stylesheet" />
    <style>
        .imthead {
            background-color: #C4E1E1;
            font-weight: 700;
        }
    </style>
}


<div class="header">
    <div class="left">
        <h1> @ViewData["Title"]</h1>
        <ul class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index"> 首頁 </a>
            </li>
            /
            <li>
                <a asp-area="question_bank" asp-controller="question_bank" asp-action="Index"> 考試系統管理 </a>
            </li>
            /
            <li><a href="#" class="active">@ViewData["Title"]</a></li>
        </ul>
    </div>
</div>




<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <i class='bx bx-receipt'></i> 
            <h3>考試時間表</h3>

            <div class="ibox-tools">
                <span>科目</span>
                <select id="ssubject" name="month">
                    <option value=""></option>
                    @foreach (var subject in ViewBag.subjects)
                    {
                        <option value="@subject">@subject</option>
                    }
                </select>
                <span>班級</span>
                <select id="sclass" name="month">
                    <option value=""></option>
                    @foreach (var class_ in ViewBag.classes)
                    {
                        <option value="@class_">@class_</option>
                    }
                </select>

                <span>搜尋</span>
                <input type="text" id="ssearchKey" class="m-wrap small" />

                <button id="clearFilters" class="btn btn-secondary">清除</button>
            </div>

        </div>



        <table id="exam_table">
            <thead class="imthead">
                <tr>
                    <th class="d-none"></th>
                    <th>@Html.DisplayNameFor(model => model.fExamName)</th>
                    <th>@Html.DisplayNameFor(model => model.fCourse)</th>
                    <th>@Html.DisplayNameFor(model => model.fCLass)</th>
                    <th>@Html.DisplayNameFor(model => model.fSTime)</th>
                    <th>@Html.DisplayNameFor(model => model.fETime)</th>
                    <th>@Html.DisplayNameFor(model => model.fPublish)</th>
                    <th>@Html.DisplayNameFor(model => model.fDescribe)</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="mbody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>








@section Scripts{
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
   

    <script>

        



        // 更新表格資料
        function updateDataTable() {
            const dt = $('#exam_table').DataTable();
            $('#exam_table').DataTable().destroy()
            $('#exam_table').DataTable({
                autoWidth: false,
                ajax: {
                    type: 'GET',
                    url: "/quesion_bank/Api/GetExamList",
                    dataSrc: function (json) { return json; }
                },
                columns: [
                    { data: "fId", visible: false },
                    { data: "fExamName", "width": "15%", "orderable": false },
                    { data: "fCourse", "width": "12%", "orderable": false },
                    { data: "fCLass", "width": "10%", "orderable": false },
                    { data: "fSTime", "width": "15%" },
                    { data: "fETime", "width": "15%" },
                    { data: "fPublish", "width": "10%", "orderable": false },
                    { data: "fDescribe", "width": "18%", "orderable": false },
                    {
                        data: null,
                        "width": "5%",
                        "orderable": false,
                        render: function (data, type, row) {
                            return `<button id="btnedit" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> 預覽 </ button > `
                        }                       
                    }       
                ],
                order: [],
                dom: 'lrtip',
                fixedHeader: {
                    header: true
                },
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.13.7/i18n/zh-HANT.json"
                }
            });
        }


        // 更新搜尋條件
        function changeDataTable() {
            const subjectValue = $('#ssubject').val();
            const classValue = $('#sclass').val();
            const ssearchKey = $('#ssearchKey').val();

            if (subjectValue === "") {
                $('#exam_table').DataTable().column(2).search(subjectValue).draw();
                console.log(1)
            } else {
                $('#exam_table').DataTable().column(2).search('^' + subjectValue + '$', true, false).draw();
            }

            if (classValue === "") {
                $('#exam_table').DataTable().column(3).search(classValue).draw();
                console.log(1)
            } else {
                $('#exam_table').DataTable().column(3).search('^' + classValue + '$', true, false).draw();
            }
            $('#exam_table').DataTable().search(ssearchKey).draw();
        };




        $('#exam_table').on('click', '#btnedit', function () {
      
            const row = $(this).parents('tr');

            const mtext =`
                    <div class="fs-5 mb-3" id="mname">
                    @Html.DisplayNameFor(model => model.fExamName):
                        <p>
                            ${row.children("td:nth-child(1)").text()}
                        </P>
                    </div>
                    <div class="fs-5 mb-3" id="mname">
                    @Html.DisplayNameFor(model => model.fCourse):
                        <p>
                            ${row.children("td:nth-child(2)").text()}
                        </P>
                    </div>
                    <div class="fs-5 mb-3" id="mname">
                    @Html.DisplayNameFor(model => model.fCLass):
                        <p>
                            ${row.children("td:nth-child(3)").text()}
                        </P>
                    </div>
                    <div class="fs-5 mb-3" id="mname">
                    @Html.DisplayNameFor(model => model.fSTime):
                        <p>
                            ${row.children("td:nth-child(4)").text()}
                        </P>
                    </div>
                    <div class="fs-5 mb-3" id="mname">
                    @Html.DisplayNameFor(model => model.fETime):
                        <p>
                            ${row.children("td:nth-child(5)").text()}
                        </P>
                    </div>
                    <div class="fs-5 mb-3" id="mname">
                    @Html.DisplayNameFor(model => model.fPublish):
                        <p>
                            ${row.children("td:nth-child(6)").text()}
                        </P>
                    </div>
                    <div class="fs-5 mb-3" id="mname">
                    @Html.DisplayNameFor(model => model.fDescribe):
                        <p>
                            ${row.children("td:nth-child(7)").text()}
                        </P>
                    </div>`

            $('#mbody').html(mtext);
        })







        $(document).ready(function () {

            updateDataTable();


            // 搜尋
            $('#ssubject, #sclass, #ssearchKey').on('input', changeDataTable);


            // 清除
            $('#clearFilters').on('click', function () {
                $('#ssubject, #sclass, #ssearchKey, #sstartTime, #sendTime').val('');
                changeDataTable()
            });
            


        });





</script>



}






