@model Class_system_Backstage_pj.Models.T課程班級

@{
    ViewData["Title"] = "Delete";
}
<div class="p-4">

    
        <h1>Delete<span class="text-danger">課程班級</span></h1>
        <h3 class="mt-2">Are you sure you want to delete this?</h3>
    <div>
        <dl>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">                       
                        <dt>
                            @Html.DisplayNameFor(model => model.班級名稱)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.班級名稱)
                        </dd>
                    </div>                                        
                 </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <dt>
                            @Html.DisplayNameFor(model => model.班級導師)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.班級導師.姓名)
                        </dd>
                    </div>
                </div>                            
            </div>
       

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <dt>
                            @Html.DisplayNameFor(model => model.入學日期)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.入學日期)
                        </dd>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <dt>
                            @Html.DisplayNameFor(model => model.結訓日期)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.結訓日期)
                        </dd>
                    </div>
                </div>
            </div>
           
        </dl>
    </div>
    @*  和後端互動的表單 *@
        <form asp-action="Delete">
            <input type="hidden" asp-for="班級id" />
            <div class="w-100 text-end">
                <input type="submit" value="Delete" class="btn btn-danger" /> 
            </div>
        </form>
    @*  和後端互動的表單 *@
</div>
