@model IEnumerable<Class_system_Backstage_pj.Areas.course_management.ViewModel.T課程班級.ClassIndexViewModel>

@{
    ViewData["Title"] = "班級管理";
}
@section Styles {

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <link href="~/css/datatablesinline.min.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/course_management/stylepopup.css" rel="stylesheet" />
    <link href="~/css/course_management/StyleDatatable.css" rel="stylesheet" />
  
}
<div class="main_contentDataTableDiv ">

    <div class="header">
        <!-- 主頁上方操作流程序，記得有新增頁面時要記得編輯 -->
        <div class="left">
            <h1 class="text-center">@ViewData["Title"]</h1>

            <ul class="breadcrumb">
                <li><a asp-area="" asp-controller="SystemBackground" asp-action="Index">首頁</a></li>
                /
                <li><a asp-area="course_management" asp-controller="courseHome" asp-action="Index">排課系統管理</a></li>
                /
                <li><a href="#" class="active">@ViewData["Title"]</a></li>
            </ul>
        </div>
        <!-- 主頁上方操作流程序-->
    </div>

    <table class="table  table-hover" id="table" style="width:100%">
        <thead class="table-head">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.班級名稱)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.入學日期)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.結訓日期)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.班級導師姓名)
                </th>
                <th>
                    修改
                </th>
                <th>
                    刪除
                </th>
                <th>
                    詳細
                </th>
           
            </tr>
        </thead>

    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content" id="modal_content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" id="closeBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>

                <div class="modal-body overflow-hidden" id="switch_context">
                    <img class="w-100" src="~/images/t課程科目/loading.gif" />
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="//cdn.datatables.net/fixedheader/3.4.0/js/dataTables.fixedHeader.min.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/boxicons.js"></script>
    <script src="~/js/course_management/classes.js"></script>

   
}

