@model StdQuiz
@{
    Layout = "_QuizLayout";

    var Quiz = Model.Quiz;
    var Record = Model.Record;
    var Questions = Model.Questions;
}
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<link href="~/quiz/css/quiz.css" rel="stylesheet" />


<div class="container">
    <div class="row vh-100">
        <div class="col-md-3">
            <div class="row">
                <div class="col-12">
                    <div class="p-3 border left-title-vh quiz-container">
                        <div class="quiz-name">
                            @Quiz.FQname
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="p-3 border left-top-vh quiz-container">
                        <div class="quiz-nums">
                            @for (int i = 0; i < Questions.Count; i++)
                            {
                                <div class="quiz-num bg-light" data-slide-to="@i" id="data-@(i)">
                                    @(i + 1)
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="p-3 border left-bottom-vh quiz-sumbit">
                        <div class="quiz-sumbit-time">剩餘時間: <span>10:22</span></div>
                        <button class="sumbit-btn">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="p-3 bg-light right-vh">
                <div class="swiper-outer-container">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">

                            @for (int i = 0; i < Questions.Count; i++)
                            {
                                <div class="swiper-slide">
                                    <div class="q-num">
                                        第 @(i + 1) 題
                                    </div>
                                    <div class="q-question">
                                        <div class="d-flex justify-content-center align-items-center q-quesiotn-div">
                                            <div class="q-question-context">
                                                @Questions[i].QuestionText
                                            </div>

                                            <hr />
                                            <div class="q-question-context-option">
                                                @for (int j = 1; j <= Questions[i].Options.Count; j++)
                                                {
                                                    <div>(@(j))<span> @Questions[i].Options[j] </span></div>
                                                }
                                  
                                            </div>
                                        </div>


                                    </div>
                                    <div class="d-flex justify-content-between q-answer multiple" data-id="@i">
                                        @for (int j = 1; j <= Questions[i].Options.Count; j++)
                                        {
                                            <button class="option-btn flex-fill">@j</button>
                                        }
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="swiper-pagination"></div>

                    </div>
                </div>

                <div class="custom-div d-flex justify-content-between">
                    <button class="button-left quiz-button">上一題</button>
                    <button class="button-right quiz-button">下一題</button>
                </div>

                <div class="answer-div">
                </div>

            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script>
        $(document).ready(function () {
            var mySwiper = new Swiper(".swiper-container", {
                direction: "horizontal",
                loop: false,

                pagination: {
                    el: ".swiper-pagination",
                    type: 'progressbar',
                }
            });

            // 上一題
            $('.button-left').on('click', function () {
                mySwiper.slidePrev();
            });

            // 下一題
            $('.button-right').on('click', function () {
                mySwiper.slideNext();
            });

            // 跳至指定題號
            $('.quiz-num').on('click', function () {
                var index = $(this).data('slide-to');
                mySwiper.slideTo(index);
            });


            // 單選
            $('.q-answer.single').on('click', '.option-btn', function () {
                var $this = $(this); 

                if (!$this.hasClass('selected')) {
                    $this.siblings('.option-btn').removeClass('selected');
                    $this.addClass('selected');
                    console.log($this.parent().children('.option-btn').index($this));
                } else {
                    $this.removeClass('selected');
                }

                updateSelectionStatus($this)
            });



            // 多選
            $('.q-answer.multiple').on('click', '.option-btn', function () {
                var $this = $(this);
                $this.toggleClass('selected');

                var selectedPositions = [];
                $this.siblings('.option-btn').addBack().each(function (index) {
                    if ($this.hasClass('selected')) {
                        selectedPositions.push(index);
                    }
                });
                console.log(selectedPositions);
                updateSelectionStatus($this)
            });

            //
            const updateSelectionStatus = ($button) => {
                var parent = $button.parent();
                var id = parent.data('id');
                var hasSelected = parent.find('.option-btn.selected').length > 0;

                if (hasSelected) {
                    $(`#data-${id}`).addClass('selected');
                } else {
                    $(`#data-${id}`).removeClass('selected');
                }
            }



            mySwiper.on('slideChange', function () {
                if (mySwiper.isEnd) {
                    $('.swiper-pagination-progressbar-fill').css('backgroundColor', '#00EC00');
                } else {
                    $('.swiper-pagination-progressbar-fill').css('backgroundColor', '#46A3FF');
                }
            });









            function getQuestions() {

                $.ajax({
                    url: '/Api/Quiz/GetQuestions/@Quiz.FQuizId',
                    type: 'GET',
                    success: function (data) {
                        console.log(data)


                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });

            };




            getQuestions()




















        });


    </script>



}




