@using Newtonsoft.Json

@model StdQuiz
@{
    Layout = "_QuizLayout";

    var Quiz = Model.Quiz;
    var Record = Model.Record;
    var Questions = Model.Questions;
    var StudentAnswer = Model.StudentAnswer;

    var Answers = Model.StudentAnswer.Answers;
    var answersJson = JsonConvert.SerializeObject(Answers);

}
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<link href="~/quiz/css/quiz.css" rel="stylesheet" />


<div class="container">
    <div class="row vh-100">
        <div class="col-md-3">
            <div class="row">
                <div class="col-12">
                    <div class="p-3 border left-title-vh quiz-container">
                        <div class="quiz-name">
                            @Quiz.FQname
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="p-3 border left-top-vh quiz-container">
                        <div class="quiz-nums">
                            @for (int i = 0; i < Questions.Count; i++)
                            {
                                <div class="quiz-num bg-light" data-slide-to="@i" id="data-@(i)">
                                    @(i + 1)
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="p-3 border left-bottom-vh quiz-sumbit">
                        <div class="quiz-sumbit-time">剩餘時間: <span id="countdown"></span></div>
                        <button class="submit-btn">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="p-3 bg-light right-vh">
                <div class="swiper-outer-container">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">

                            @for (int i = 0; i < Questions.Count; i++)
                            {
                                <div class="swiper-slide">
                                    <div class="q-num">
                                        第 @(i + 1) 題
                                    </div>
                                    <div class="q-question">
                                        <div class="d-flex justify-content-center align-items-center q-quesiotn-div">
                                            <div class="q-question-context">
                                                @if(Questions[i].Type == 1){
                                                    <span class="multi-text">多選題</span>
                                                }
                                                @Questions[i].QuestionText
                                            </div>

                                            <hr />
                                            <div class="q-question-context-option">
                                                @for (int j = 0; j < Questions[i].Options.Count; j++)
                                                {
                                                    <div>(@(j+1))<span> @Questions[i].Options[j] </span></div>
                                                }
                                  
                                            </div>
                                        </div>


                                    </div>
                                    <div class="d-flex justify-content-between q-answer @(Questions[i].Type == 0 ?"single":"multiple")" data-id="@i">
                                        @for (int j = 1; j <= Questions[i].Options.Count; j++)
                                        {
                                            <button class="option-btn flex-fill">@j</button>
                                        }
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="swiper-pagination"></div>

                    </div>
                </div>

                <div class="custom-div d-flex justify-content-between">
                    <button class="button-left quiz-button">上一題</button>
                    <button class="button-right quiz-button">下一題</button>
                </div>

                <div class="answer-div">
                </div>

            </div>
        </div>
    </div>
</div>




<!--提交提醒-->
<div class="modal fade" id="submitQuizModal" tabindex="-1">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="submitQuizModalLabel">確認提交</h5>
            </div>
            <div class="modal-body" id="submit-context">
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="sureBtn">確認</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>





<!--timeout-->
<div class="modal fade" id="timeOutModal" tabindex="-1">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="timeOutModalLabel">測驗時間已結束</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="seeResultBtn">查看結果</button>
            </div>
        </div>
    </div>
</div>







@section Scripts {
	<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        $(document).ready(function () {
            var mySwiper = new Swiper(".swiper-container", {
                direction: "horizontal",
                loop: false,

                pagination: {
                    el: ".swiper-pagination",
                    type: 'progressbar',
                }
            });

            // 上一題
            $('.button-left').on('click', function () {
                mySwiper.slidePrev();
            });

            // 下一題
            $('.button-right').on('click', function () {
                mySwiper.slideNext();
            });

            // 跳至指定題號
            $('.quiz-num').on('click', function () {
                var index = $(this).data('slide-to');
                mySwiper.slideTo(index);
            });


            // 單選
            $('.q-answer.single').on('click', '.option-btn', function () {
                var $this = $(this); 

                if (!$this.hasClass('selected')) {
                    $this.siblings('.option-btn').removeClass('selected');
                    $this.addClass('selected');
                    console.log($this.parent().children('.option-btn').index($this));
                } else {
                    $this.removeClass('selected');
                }

                updateSelectionStatus($this)
            });



            // 多選
            $('.q-answer.multiple').on('click', '.option-btn', function () {
                var $this = $(this);
                $this.toggleClass('selected');

                // 更新选择状态并打印当前选择的选项
                var questionIndex = $this.closest('.q-answer').data('id');
                var selectedOptions = [];

                $this.siblings('.option-btn').addBack().each(function () {
                    if ($(this).hasClass('selected')) {
                        selectedOptions.push($(this).index())
                    }
                });

                console.log(selectedOptions);
                updateSelectionStatus($this)
            });

            //
            const updateSelectionStatus = ($button) => {
                var parent = $button.parent();
                var id = parent.data('id');
                var hasSelected = parent.find('.option-btn.selected').length > 0;

                if (hasSelected) {
                    $(`#data-${id}`).addClass('selected');
                } else {
                    $(`#data-${id}`).removeClass('selected');
                }
            }



            mySwiper.on('slideChange', function () {
                if (mySwiper.isEnd) {
                    $('.swiper-pagination-progressbar-fill').css('backgroundColor', '#00EC00');
                } else {
                    $('.swiper-pagination-progressbar-fill').css('backgroundColor', '#46A3FF');
                }
            });




            // 填寫紀錄回去
            var previousSelections = JSON.parse("@answersJson");

            $('.q-answer').each(function (index) {
                var selectedOptions = previousSelections[index] || [];

                if (selectedOptions.length > 0) {
                    $(this).find('.option-btn').each(function () {
                        var optionIndex = $(this).index();
                        if (selectedOptions.includes(optionIndex)) {
                            $(this).addClass('selected');
                        }
                    });
                }
                updateSelectionStatus($(this).find('.option-btn.selected'));
            });




            // 跳轉
            console.log(@Record.FRecordId)
            $.ajax({
                url: '/Api/Quiz/CheckState/@Record.FRecordId',
                type: 'GET',
                cache: false,
                success: function (response) {
                    if (response === 1) {
                        window.location.href = "/quiz/Quiz/StdIndex";
                    }
                    console.log(response)
                    console.log("完成1")

                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    console.log("失敗")

                }
            });
            console.log("完成2")




            // 時間倒數
            var endDate = new Date("@Record.FEndTime");
            var now = new Date();

            var timeDiff = Math.floor((endDate - now) / 1000);

            function formatTime(seconds) {
                if (seconds <= 0) {
                    clearInterval(countdownInterval); 
                    document.getElementById("countdown").innerHTML = "0:00"; 
                    console.log("計時結束！");
                    $('#timeOutModal').modal("show");

                    return;
                }

                var minutes = Math.floor(seconds / 60);
                var remainingSeconds = seconds % 60;
                var formattedTime = minutes + ":" + (remainingSeconds < 10 ? "0" : "") + remainingSeconds;
                document.getElementById("countdown").innerHTML = formattedTime; 
            }

            var countdownInterval = setInterval(function () {
                timeDiff--;
                formatTime(timeDiff); 
            }, 1000);




            function getAnswer() {
                var result = {
                    allSelectedAnswers: [],
                    unansweredCount: 0
                };

                $('.q-answer').each(function () {
                    var selectedAnswers = [];

                    $(this).find('.option-btn').each(function () {
                        if ($(this).hasClass('selected')) {
                            selectedAnswers.push($(this).index());
                        }
                    });

                    if (selectedAnswers.length === 0) {
                        result.unansweredCount++;
                    }

                    result.allSelectedAnswers.push(selectedAnswers);
                });

                return result;
            }



            // 提交
            $('.submit-btn').on('click', function () {

                const res = getAnswer()
                console.log(res.allSelectedAnswers);

                if (res.unansweredCount > 0) {
                    console.log("未作答：" + res.unansweredCount);

                    $('#submit-context').html(`<span>尚有 ${res.unansweredCount} 題未完成</span>`);
                    $('#sureBtn').prop('disabled', true);
                    $('#submitQuizModal').modal('show');
                } else {
                    $('#submit-context').html('');
                    $('#sureBtn').prop('disabled', false);
                    $('#submitQuizModal').modal('show');

                }
            });



            // 提交看結果
            $('#sureBtn').on('click', function () {
                const res = getAnswer()
                var data = {
                    RecordId: @Record.FRecordId,
                    Answers: res.allSelectedAnswers
                }
                console.log(data)

                $.ajax({
                    url: '/Api/Quiz/SetScore',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (response) {
                        console.log(response)
                        window.location.href = "/quiz/Quiz/Result/@Quiz.FQcode";
                        
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);

                    }
                });

            });


            // 測驗時間到
            $('#seeResultBtn').on('click', function () {
                const res = getAnswer()
                var data = {
                    RecordId: @Record.FRecordId,
                    Answers: res.allSelectedAnswers
                }
                console.log(data)

                $.ajax({
                    url: '/Api/Quiz/SetScore',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (response) {
                        console.log(response)
                        window.location.href = "/quiz/Quiz/Result/@Quiz.FQcode";
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);

                    }
                });

            });



                // 自動儲存
            $(window).on('beforeunload unload', function () {
                var result = getAnswer()

                var data = {
                    RecordId: @Record.FRecordId,
                    Answers: result.allSelectedAnswers
                }

                $.ajax({
                    url: '/Api/Quiz/SaveAnswers',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (response) {
                        console.log(response)
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });



        });


    </script>



}




