@model List<QuizView>

@{
    var studentId = User.Claims.FirstOrDefault(c => c.Type == "StudentId")?.Value;
    ViewData["Title"] = "測驗平台";
}


@section Styles {
    <link href="~/quiz/css/stdindex.css" rel="stylesheet" />
}






@section BreadcrumbsSection {
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container d-flex justify-content-between align-items-center">

                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
                <!-- Button trigger modal -->
                <button class="btn btn-primary custom-button" data-bs-toggle="modal" data-bs-target="#searchModal" id="quizCodeBtn">測驗代碼</button>
            </div>
        </nav>
    </div>
}




<section id="portfolio" class="portfolio" style="padding-top:0;">

    <div class="container" data-aos="fade-up">

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

            <!-- 分頁標題 -->
            <div>
                <ul class="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-open">開放中</li>
                    <li data-filter=".filter-close">已關閉</li>
                    <li data-filter=".filter-finish">已完成</li>
                </ul>
            </div>

            <!-- 簡單型圖文卡片 -->
            <div class="row gy-4 portfolio-container">


                @foreach (var quiz in Model)
                {
                    if (quiz.IsPublic == 0)
                    {
                        continue;
                    }

                    string attr = (quiz.IsClosed == 1) ? "filter-open" : "filter-close";

                    if (quiz.HasRecord == 1)
                    {
                        attr += " filter-finish";
                    }

                    <div class="col-xl-4 col-md-6 portfolio-item @attr">
                        <div class="portfolio-wrap">
                            <div class="portfolio-info">
                                <h3>
                                    <div>@quiz.Name</div>
                                </h3>
                                <p>測驗人數: <span>@quiz.Count</span>人</p>
                            </div>
                        </div>
                    </div>
                }
             



            </div><!-- End Portfolio Container -->
        </div>

    </div>
</section><!-- End Portfolio Section -->








<h1>學生前台</h1>
<a asp-area="quiz" asp-controller="Quiz" asp-action="Quiz">進入考試</a>




<!-- 查詢Modal -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">加入測驗</h5>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">測驗代碼</span>
                    <input type="text" class="form-control" id="inputQuizCode" placeholder="輸入代碼..">
                </div>
                <div class="errorMessage">查無測驗代碼!</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="searchBtn">查詢</button>
            </div>
        </div>
    </div>
</div>




<!-- 預覽Modal -->
<div class="modal fade" id="previewModal" tabindex="-1">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previewModalLabel">測驗資訊</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">測驗代碼</span>
                    <input type="text" class="form-control" id="inputRoomCode" placeholder="輸入代碼.." aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-quizid="" id="joinQuizBtn">加入測驗</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>

        $(document).ready(function () {

            // 儲存全部測驗
            var quizList = @Html.Raw(Json.Serialize(Model));
            console.log(quizList)

            // 代碼搜尋
            $('#searchBtn').on('click', function () {
                const quizCode = $('#inputQuizCode').val();

                if (!quizCode.trim()) {
                    $('.errorMessage').show();
                    return;
                } else {
                    $('.errorMessage').hide();
                }
                var foundQuiz = quizList.find(function (quiz) {
                    return quiz.code === quizCode;
                });

                if (foundQuiz) {
                    $('#searchModal').modal('hide');
                    $('#previewModal').modal('show');
                } else {
                    console.error("Quiz not found");
                    $('.errorMessage').show();
                }
            });

            $('#quizCodeBtn').on('click', function () {
                $('.errorMessage').hide();
                $('#inputQuizCode').val("");
            });








            // 初始載入














          
 



















        });



    </script>

}