@model List<QuizView>

@{
    var studentId = User.Claims.FirstOrDefault(c => c.Type == "StudentId")?.Value;
    ViewData["Title"] = "測驗平台";
}


@section Styles {
    <link href="~/quiz/css/stdindex.css" rel="stylesheet" />

    <style>

        .alert-bar{
            background-color: #FF2D2D;
            font-size:1.5rem;
            color:white;
            text-align:center;
            align-content:center;
            height:3rem;
            display: none;
        }

        #alert-text{
            font-size: 0.8rem;
            color: red;
            display: none;
        }
    </style>
}


@section BreadcrumbsSection {
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container d-flex justify-content-between align-items-center">

                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
                <!-- Button trigger modal -->
                <button class="btn btn-primary custom-button" data-bs-toggle="modal" data-bs-target="#searchModal" id="quizCodeBtn">測驗代碼</button>
            </div>
        </nav>
    </div>
}

<div class="alert-bar">
    尚有考試未完成，須提交才能進行其它測驗。
    <button class="btn btn-primary" id="continueBtn" data-quizid="">繼續作答</button>
    <button class="btn btn-secondary" id="submitBtn" data-recordid="">提交測驗</button>
</div>

<section id="portfolio" class="portfolio mt-1">

    <div class="container" data-aos="fade-up">

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

            <!-- 分頁標題 -->
            <div>
                <ul class="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-open">開放中</li>
                    <li data-filter=".filter-close">已關閉</li>
                    <li data-filter=".filter-finish">已完成</li>
                </ul>
            </div>

            <!-- 簡單型圖文卡片 -->
            <div class="row gy-4 portfolio-container">

                @{
                    for (int i = 0; i < Model.Count; i++)
                    {
                        var quiz = Model[i];

                        if (quiz.IsPublic == 0)
                        {
                            continue;
                        }

                        string attr = (quiz.IsClosed == 1) ? "filter-open" : "filter-close";

                        if (quiz.HasRecord == 1)
                        {
                            attr += " filter-finish";
                        }

                                            <div class="col-xl-4 col-md-6 portfolio-item @attr" data-order="@i">
                                                <div class="portfolio-wrap">
                                                    <div class="portfolio-info d-flex row m-2 p-2 align-items-center">
                                                        <div class="col-12 quiz-name">
                                                            @quiz.Name
                                                            @if (quiz.HasRecord == 1)
                                                                {
                                                                    <span class="custom-span ms-2">已完成</span>
                                                                }
                                                        </div>


                                                        <div class="d-flex justify-content-between align-content-center" style="height:50px">
                                                            <div>
                                                                <p class="p-0 m-0">測驗人數: <span>@quiz.Count</span>人</p>
                                                            </div>

                                                            <div>
                                                                <a class="btn btn-secondary show-info">查看</a>
                                                            </div>
                                                        </div>
                                            


                                                    </div>

                                                </div>
                                            </div>
                    }
                 }

            </div><!-- End Portfolio Container -->
        </div>

    </div>
</section><!-- End Portfolio Section -->




<!-- 查詢Modal -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">加入測驗</h5>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">測驗代碼</span>
                    <input type="text" class="form-control" id="inputQuizCode" placeholder="輸入代碼..">
                </div>
                <div class="errorMessage">查無測驗代碼!</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="searchBtn">查詢</button>
            </div>
        </div>
    </div>
</div>



<!-- 預覽Modal -->
<div class="modal fade" id="previewModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="previewModalLabel">測驗資訊</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="quiz-code" hidden></div>
                <div id="quiz-quizid" hidden></div>
                <div class="mb-3">
                    <label class="form-label text-primary">名稱:</label>
                    <span class="form-text ms-2" id="quiz-mame"></span> 
                </div>
                <div class="mb-3">
                    <label class="form-label text-primary">創建者:</label>
                    <span class="form-text ms-2" id="quiz-creater"></span> 
                </div>
                <div class="mb-3">
                    <label class="form-label text-primary">限制時間:</label>
                    <span class="form-text ms-2" id="quiz-limitTime"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label text-primary">創建時間:</label>
                    <span class="form-text ms-2" id="quiz-createTime"></span> 
                </div>
                <div class="mb-3">
                    <label class="form-label text-primary">測驗人數:</label>
                    <span class="form-text ms-2" id="quiz-count"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label text-primary">說明:</label>
                    <span class="form-text ms-2" id="quiz-note"></span> 
                </div>
            </div>

            <div class="modal-footer">
                <span id="alert-text">須先提交尚未完成測驗</span>
                <button type="button" class="btn btn-primary" id="joinQuizBtn">加入測驗</button>
            </div>
        </div>
    </div>
</div>





@section Scripts{

    <script>

        $(document).ready(function () {

            // 儲存全部測驗
            var quizList = @Html.Raw(Json.Serialize(Model));
            console.log(quizList)

            // 代碼搜尋
            $('#searchBtn').on('click', function () {
                const quizCode = $('#inputQuizCode').val();

                if (!quizCode.trim()) {
                    $('.errorMessage').show();
                    return;
                } else {
                    $('.errorMessage').hide();
                }
                var foundQuiz = quizList.find(function (quiz) {
                    return quiz.code === quizCode;
                });

                if (foundQuiz) {
                    $('#searchModal').modal('hide');
                    $('#previewModal').modal('show');
                    fillModalBody(foundQuiz);
                } else {
                    console.error("Quiz not found");
                    $('.errorMessage').show();
                }
            });

            $('#quizCodeBtn').on('click', function () {
                $('.errorMessage').hide();
                $('#inputQuizCode').val("");
            });



            function fillModalBody(quizInfo) {

                console.log(quizInfo)
                $('#quiz-mame').text(quizInfo.name || '');
                $('#quiz-code').text(quizInfo.code || '');
                $('#quiz-quizid').text(quizInfo.id || '');
                $('#quiz-creater').text(quizInfo.teacherId || '');
                $('#quiz-limitTime').text(`${quizInfo.limitTime} 分` || '');
                $('#quiz-createTime').text(new Date(quizInfo.createTime).toLocaleDateString('zh-CN') || '');
                $('#quiz-count').text(`${quizInfo.count} 人` || '');
                $('#quiz-note').text(quizInfo.note || '');

                $('#joinQuizBtn').text(quizInfo.hasRecord === 1 ? "查看紀錄" : "加入測驗");

                if ($('.alert-bar').is(':visible')) {
                    quizInfo.hasRecord === 1 ?
                        ($('#alert-text').hide(), $(this).prop("disabled", false)) :
                        ($('#alert-text').show(), $(this).prop("disabled", true));
                }
                

                $('#joinQuizBtn').prop('disabled', quizInfo.isClosed === 0 && quizInfo.hasRecord === 0);

            }


            $('.show-info').on('click', function () {
                var order = $(this).closest('.portfolio-item').data('order');
                $('#previewModal').modal('show');

                fillModalBody(quizList[order]);
            });



            $('#joinQuizBtn').on('click', function () {
                var quizId = $('#quiz-quizid').text();
                var quizCode = $('#quiz-code').text();
                var data  = {
                    FQuizId: quizId,
                    FStudentId: @studentId
                }
                $.ajax({
                    url: '/Api/Quiz/CheckRecord',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (response) {

                        if (response.fState) {
                            window.location.href = `/quiz/Quiz/Result/${quizCode}`
                        }else{
                            if ($('.alert-bar').is(':visible')) {
                                return;
                            }
                            window.location.href = `/quiz/Quiz/Quiz/${quizCode}`
                        }

                    },
                    error: function (xhr, status, error) {

                        console.error(xhr.responseText);
                    }
                });
            });



            // 查看有無未完成測驗
            $.ajax({
                url: '/Api/Quiz/UnFinishRecord/@studentId',
                type: 'GET',
                cache: false,
                success: function (response) {
                    if (response.code !== null) {
                        $('.alert-bar').show();
                        $('#continueBtn').attr("data-quizid", response.code);
                        $('#submitBtn').attr("data-recordid", response.recordId);
                    }
                    console.log(response)
                    console.log(response)
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });

            // 繼續測驗
            $('#continueBtn').on('click', function () {
                var quizCode = $(this).data('quizid')
                window.location.href = `/quiz/Quiz/Quiz/${quizCode}`
            });
  
            // 放棄測驗
            $('#submitBtn').on('click', function () {
                var recordId = $(this).data('recordid')

                $.ajax({
                    url: `/Api/Quiz/GiveUpScore/${recordId}`,
                    type: 'GET',
                    cache: false,
                    success: function (response) {
                        console.log(response)
                        location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });


            });
            




        });

    </script>

}