@model Class_system_Backstage_pj.Models.T討論文章

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>T討論文章</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.內容)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.內容)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.時間)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.時間)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.觀看數)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.觀看數)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.標題)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.標題)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.子版)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.子版.子版id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.學生)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.學生.信箱)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.看板)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.看板.看板id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.文章id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
