@model ResumeCreateViewModel

<div>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ResumeTitle)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ResumeTitle)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ResumeStatus)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ResumeStatus)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Skill)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Skill)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WorkExperience)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WorkExperience)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WorkType)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WorkType)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WorkTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WorkTime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.WorkShift)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.WorkShift)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.HopeJobTitle)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.HopeJobTitle)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.HopeSalary)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.HopeSalary)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.HopeLocation)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.HopeLocation)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Autobiography)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Autobiography)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
    </dl>
</div>


