@using text_loginWithBackgrount.Areas.course_management.ViewModel.courseHome;
@using System.Net;
@model IEnumerable<Notification>;
@{
    var teacherData = ViewBag.Teacher as T會員老師;
    ViewData["Title"] = "Notifications";

}
@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <link href="~/css/datatablesinline.min.css" rel="stylesheet" />
    <link href="~/css/course_management/stylenotification.css" rel="stylesheet" />
}


<div class="header">
    <!-- 主頁上方操作流程序能引入操作流程返回，記得有新增頁面時要記得編輯，有class="active的是現在位置-->
    <div class="left">
        <h1 class="text-black-50 heading-line">
            <span class="mr-2">@ViewData["Title"]</span>
            <i class="fa fa-bell text-muted"></i>
        </h1>
        <ul class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="SystemBackground" asp-action="Index"> 首頁 </a>
            </li>
            /
            <li><a href="#" class="active">@ViewData["Title"]</a></li>
        </ul>
    </div>
    <!-- 主頁上方操作流程序結束-->
</div>


<section class="section-50">
    <div class="container">
        <div class="bottom-data">
            <!-- 顯示老師是否有通知-->
            @if (Model == null || !Model.Any())
            {
                <div class="text-center">
                    <p>No notifications available.</p>
                </div>
            }
            else
            {
                <div class="reminders">
                    <ul class="task-list">
                        @foreach (var item in Model)
                        {
                            <li class="notification-list notification-list--unread">
                                <div class="notification-list_content">
                                    <div class="notification-list_img">
                                        <img src="~/images/notification/blueemail.png" />
                                    </div>
                                    <div class="notification-list_detail">
                                        <p class="task-title"><span>@item.SenderName</span>發送訊息給您</p>
                                        <p class="text-muted">@item.發送訊息內容</p>
                                        <p class="text-muted"><small>@item.時間</small></p>
                                    </div>
                                </div>

                            </li>
                        }
                    </ul>

                    <div class="text-center">
                        <a href="#!" class="btn btn-outline-primary dark-link">Load more ...</a>
                    </div>

                </div>
            }

            <!-- 顯示老師是否有通知結束-->
        </div>


    </div>
</section>