@using Class_system_Backstage_pj.Models;
@using text_loginWithBackgrount.Areas.course_management.ViewModel.courseHome;
@using System.Net;
@model IEnumerable<TeacherCourseTimeViewModel>;
@{
    var teacherData = ViewBag.Teacher as T會員老師;
    ViewData["Title"] = "我的課程";

}
@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css" rel="stylesheet" />
    <link href="~/css/course_management/styleteachercourseindex.css" rel="stylesheet" />
}



<div class="header">
    <!-- 主頁上方操作流程序能引入操作流程返回，記得有新增頁面時要記得編輯，有class="active的是現在位置-->
    <div class="left">
        <h1 class="text-black-50"> @ViewData["Title"]</h1>
        <ul class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="SystemBackground" asp-action="Index"> 首頁 </a>
            </li>
            /
            <li><a href="#" class="active">@ViewData["Title"]</a></li>
        </ul>
    </div>
    <!-- 主頁上方操作流程序結束-->
</div>

<div>
    <card class="text-center">
        <!--顯示老師資料-->

        <div class="card-header" style="background-color:#ffa7a7">

            @if (teacherData != null)
            {
                <h4 class="text-white"><span class="fw-bolder">@teacherData.姓名</span> 老師授課列表</h4>
            }
            else
            {
                <h4 class="text-white">找不到該老師的資料。</h4>
            }
        </div>
        <!--顯示老師資料結束-->

        <table class="table card-body">
            <thead>
                <tr>
                    <th>班級</th>
                    <th>科目</th>
                    <th>開啟回饋</th>
                    <th>螢幕分享</th>
                    <th>白板</th>
                </tr>
            </thead>

            <!--顯示老師是否有教授課程-->
            @if (ViewBag.Class != null)
            {
                @foreach (var item in ViewBag.Class)
                {
                    <tr>
                        <td class="coursename">@item.班級.班級名稱</td>
                        <td class="teachername">@item.科目.科目名稱</td>
                        <td>
                            <button class="btn btn-info bxCourse">
                                <i class='bx bx-lock-open-alt' onclick="toggleStatus(@item.班級科目.班級科目id)"></i>
                            </button>

                        </td>
                        <td>
                            <a class="btn btn-info bxCourse" onclick="classFeature(@item.班級科目.班級科目id)">
                                <i class='bx bxs-school'></i>
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-info bxCourse" onclick="whiteBoard(@item.班級科目.班級科目id)">
                                <i class='bx bx-chalkboard'></i>
                            </a>
                        </td>
                    </tr>
                }



            }
            else
            {
                <tr class="text-center">目前沒有教授課程</tr>
            }
            <!--顯示老師是否有教授課程結束-->

        </table>

        <!--顯示老師上課的所有班級科目的課程行事曆-->
        <div>
            <div id='calendar' class="calendar"></div>
        </div>
        <!--顯示老師上課的所有班級科目的課程行事曆結束-->

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content" id="modal_content">
                    <div class="modal-header d-flex justify-content-center align-items-center">
                        <p class="fs-6 h-100 mb-0" id="exampleModalLabel"></p>
                        <p class="fs-6 h-100 mb-0" id="exampleModalsubTitle"></p>
                        <button type="button" id="closeBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>

                    <div class="modal-body overflow-hidden" id="switch_context">
                        <img class="w-100" src="~/images/t課程科目/loading.gif" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->

    </card>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.5/main.js" integrity="sha512-p8Y3dmH8kSZIUvVonZz2ttZxzOvX2dcIEN15JzIDPlrSSoT7UpZ8w+MWyBJjqhnF+g+L5hL5i2kRZkwcurjXJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.5/locales/zh-tw.js" integrity="sha512-kSMJ35bCCcHBMhZePO7UjEq1zNt0zkVX39a9Vt6IRKrrpjdK43/f57tKd0hSH/OO8XZfpi8LN8wtU70RVIw/Iw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/course_management/Redirection.js"></script>
    <script src="~/js/course_management/classCourseStatus.js"></script>
    <script>
        //render 行事曆
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                handleWindowResize: true,
                windowResize: true,
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    locale: 'zh-tw',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                eventTimeFormat: {
                    hour: 'numeric',
                    minute: '2-digit',
                    meridiem: 'short'
                },
                events: [
        @foreach (var item in Model)
        {
            var title = WebUtility.HtmlDecode(@item.班級名稱);
            var datetime = @item.課程.開始時間.ToString("yyyy-MM-ddTHH:mm:ss");
            var endtime = @item.課程.結束時間.ToString("yyyy-MM-ddTHH:mm:ss");
            var timeid = @item.課程.課程id;
            <text>
                        {
                            title: '@Html.Raw(title)',
                            start: '@datetime',
                            end: '@endtime',
                            data: {
                                timeid: '@timeid',
                            }
                        },
            </text>


        }
                        ]
            });

            calendar.render();

        });
    </script>


}


