@model IEnumerable<T課程班級>;

@{
    ViewData["Title"] = "課程總覽";
}
@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <!-- 導覽列項目設置，請根據目前網頁的深度增減 -->
                <ol>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">首頁</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>
        </nav>
    </div>
}

@if (Model != null)
{
    var i = 1;

    <section id="recent-posts" class="recent-posts">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>近期開課</h2>
                <p>
                    想要為一門專業更加精進嗎? 我們提供多元課程供予挑選，
                    來挑戰自我，突破瓶頸，歡迎聯繫探索最新開課！
                </p>

            </div>

            <div class="row gy-4">
                @{
                    foreach (var course in Model)
                    {
                        <div class="col-xl-4 col-md-6">
                            <article>

                                <div class="post-img">
                                    <img src="~/assets/img/blog/blog-@(i).jpg" alt="" class="img-fluid">

                                </div>

                                <p class="post-category">實體授課</p>

                                <!-- 含有連結的小標題 -->
                                <h2 class="title">
                                    <a href="#">@course.班級名稱</a>
                                </h2>

                                <div class="d-flex align-items-center">
                                    <!-- 圓型圖片 -->
                                    <img src="~/assets/img/blog/blog-author-@(i).jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                                    <!-- 名字與日期 -->
                                    <div class="post-meta">
                                        <p class="post-author">@course.班級導師.姓名</p>
                                        <p class="post-date">
                                            入學日期
                                            <time datetime="@course.入學日期.ToString("yyyy-MM-dd")">@course.入學日期.ToString("MMM d, yyyy")</time>
                                        </p>
                                        <p class="post-date">
                                            結訓日期
                                            <time datetime="@course.結訓日期.ToString("yyyy-MM-dd")">@course.結訓日期.ToString("MMM d, yyyy")</time>
                                        </p>
                                    </div>
                                </div>

                            </article>
                        </div>

                        <!-- End post list item -->
                        i++; // 每次循環結束後增加 i 的值
                    }
                }
            </div>

        </div>
    </section>

    <!-- End Recent Blog Posts Section -->
}
else
{
    <section id="recent-posts" class="recent-posts">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>近期開課</h2>
                <p>
                    想要為一門專業更加精進嗎? 我們提供多元課程供予挑選，
                    來挑戰自我，突破瓶頸，歡迎聯繫探索最新開課！
                </p>

            </div>

            <div class="">
                <article>
                    <div class="">
                        <img src="~/assets/img/blog/noData.png" alt="" class="w-100">
                    </div>
                    <hr />
                    <h2 class="text-center">
                        目前無資料
                    </h2>
                </article>
            </div>
        </div>
    </section>
}
