@model IEnumerable<Class_system_Backstage_pj.Models.T影片Video>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FVideoTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.科目)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FVideoTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.科目.科目名稱)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FVideoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FVideoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FVideoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
