@model IEnumerable<T課程課程>;
@using System.Net;

@{
    ViewData["Title"] = "學員專區";
    var classData = ViewBag.Class as T課程班級;
    var courseData = ViewBag.ClassCourse as List<T課程班級科目>;
}
@* @User.Identity?.Name 這能抓到使用者的名稱 *@
@* @User?.FindFirst("FullName")?.Value 也能抓到使用者的名稱*@
@* @User?.FindFirst("StudentId")?.Value 這能抓到使用者的PK *@
@section Styles{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.css" rel="stylesheet" />

    <style>
       h3,h4,h5,h6{
            color: #5a5a5a !important;
       }
       th,td{
            color: #5a5a5a !important;
       }

        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
            color: #008374;
        }
        a.btn-outline-success:hover > span {
            color: white !important;
        }
 
    </style>   
}
@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>@ViewData["Title"]</h2>
                        <p>
                            學員專區是專為學員提供的服務平台。在這裡，您可以：讓您可以一站式完成所有學務相關事宜。
                        </p>
                        <p>學員專區是您學習生活的最佳伴侶。</p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <!-- 導覽列項目設置，請根據目前網頁的深度增減 -->
                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>
        </nav>
    </div>
}

<!-- ========================================================
       Blog Details Section
========================================================= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
        <div class="row g-5">
            <!-- 左方側邊欄：佔據寬度 4/12 -->
            <!-- 左方側邊欄：標籤分類 -->
            <div class="col-lg-3">
                <div class="sidebar">
                    <!-- 搜尋框 -->
                    <div class="sidebar-item search-form">
                        <h3 class="sidebar-title">Search</h3>
                        <form action="" class="mt-3">
                            <input type="text">
                            <button type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div><!-- End sidebar search formn-->
                    <!-- 文字列表 -->
                    <div class="sidebar-item categories">
                        <h3 class="sidebar-title m-1">學員服務</h3>
                        <div class="list-group">
                            <a asp-area="" asp-controller="Student" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">個人資料 </a>
                            <a asp-area="class_discuss" asp-controller="discussforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">學習討論區</a>
                            <a asp-area="course_management" asp-controller="courseforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center active">我的課程</a>
                            <a asp-area="video_management" asp-controller="videoforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">影片教材</a>
                            <a asp-area="ordering_system" asp-controller="orderforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">餐點訂單管理</a>
                            <a asp-area="job_vacancy" asp-controller="jobforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">我的履歷</a>
                            <a asp-area="question_bank" asp-controller="questionforStudent" asp-action="Index" class="list-group-item list-group-item-action m-2 border border-3 text-center">線上考試</a>
                            <a asp-area="" asp-controller="Login" asp-action="logout" class="list-group-item list-group-item-action m-2 border border-3 text-center text-danger">登出</a>
                        </div>
                    </div><!-- End sidebar categories-->
                </div><!-- End Blog Sidebar -->
            </div>
            <!-- 主要區域：佔據寬度 8/12 -->
            <div class="col-lg-9">
                <!-- 內容 -->
                <h2 class="title text-center">我的課程</h2>
                @if (!ViewBag.State)
                    {
                        <article class="blog-details">
                            <div class="card-header text-center mt-2" >
                                <h4 class="">@ViewBag.Message</h4>
                            </div>
                        </article>
                }
                else
                    {
                    <article class="blog-details">
                            <h5 class="fw-bolder"><span class="">@classData.班級名稱</span> 班級課程列表</h5>
                            <table class="table card-body" style="text-align: center;vertical-align: middle;">
                                <thead>
                                    <tr>
                                        <th>老師</th>
                                        <th>科目</th>
                                        <th>填寫回饋</th>
                                        <th>上課功能</th>
                                    </tr>
                                </thead>

                                @foreach (var course in courseData)
                                {
                                    <tr class="">
                                        <td class="coursename">@course.老師.姓名</td>
                                        <td class="teachername">@course.科目.科目名稱</td>
                                        <td>
                                            <a class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="popup(@course.班級科目id,@User?.FindFirst("StudentId")?.Value)">
                                                <span class="material-symbols-outlined" style="vertical-align: middle;">edit_square</span>
                                                <span class="visually-hidden courseid">@course.班級科目id</span>
                                            </a>
                                        </td>
                                        <td>
                                            <p>
                                                <a class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="popup(@course.班級科目id,@User?.FindFirst("StudentId")?.Value)">
                                                    <span class="material-symbols-outlined" style="vertical-align: middle;">school</span>
                                                    <span class="visually-hidden courseid">@course.班級科目id</span>
                                                </a>
                                            </p>
                                        </td>
                                    </tr>
                                }

                            </table>
                    </article>
                    <article class="blog-details mt-2">
                            <h5 class="fw-bolder"><span class="">@classData.班級名稱</span> 班級課表</h5>
                        <div>
                            <div id='calendar' class="calendar"></div>
                        </div>
                      </article>
                }


              
                <!-- End blog post -->
            </div>
        </div>
    </div>
</section><!-- End Blog Details Section -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content" id="modal_content">
                    <div class="modal-header d-flex justify-content-center align-items-center">
                            <p class="fs-6 h-100 mb-0"  id="exampleModalLabel"></p>
                            <p class="fs-6 h-100 mb-0"  id="exampleModalsubTitle"></p>
                        <button type="button" id="closeBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>

                    <div class="modal-body overflow-hidden" id="switch_context">
                    <img class="w-100" src="~/images/t課程科目/loading.gif" />
                    </div>
            </div>
        </div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.5/main.js" integrity="sha512-p8Y3dmH8kSZIUvVonZz2ttZxzOvX2dcIEN15JzIDPlrSSoT7UpZ8w+MWyBJjqhnF+g+L5hL5i2kRZkwcurjXJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.5/locales/zh-tw.js" integrity="sha512-kSMJ35bCCcHBMhZePO7UjEq1zNt0zkVX39a9Vt6IRKrrpjdK43/f57tKd0hSH/OO8XZfpi8LN8wtU70RVIw/Iw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            if (!@ViewBag.State.ToString().ToLower()) {
                return;
            }
            var start = "@classData?.入學日期.ToString("yyyy-MM-ddTHH:mm:ss")";
            var end = "@classData?.結訓日期.ToString("yyyy-MM-ddTHH:mm:ss")";
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                height: 'auto',
                validRange: 
                       @{
                        var start = classData.入學日期.ToString("yyyy-MM-ddTHH:mm:ss");
                        var end = classData.結訓日期.ToString("yyyy-MM-ddTHH:mm:ss");

                                        <text>
                                        {
                                            start: '@start',
                                            end: '@end'
                                        },
                                        </text>
                        }
                handleWindowResize: true,
                windowResize: true,
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    locale: 'zh-tw',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                eventTimeFormat: {
                    hour: 'numeric',
                    minute: '2-digit',
                    meridiem: 'short'
                },
                events: [
                @if (Model != null)
                {
                    @foreach (var course in Model)
                    {
                        var title = WebUtility.HtmlDecode(@course.班級科目.科目.科目名稱);
                        var datetime = @course.開始時間.ToString("yyyy-MM-ddTHH:mm:ss");
                        var endtime = @course.結束時間.ToString("yyyy-MM-ddTHH:mm:ss");
                        var timeid = @course.課程id;
                        <text>
                                    {
                                        title: '@Html.Raw(title)',
                                        start: '@datetime',
                                        end: '@endtime',
                                        data: {
                                            timeid: '@timeid',
                                        }
                                    },
                        </text>
                    }
                }
                            ]
                    });

             calendar.render();
        });
    </script>


   <script>
        function popup(id,studentid) {
            //id是班級科目Id            
             var url = "/course_management/courseforStudent/Edit/"+id+"/"+studentid;       
                    
                    $.ajax({
                        type: "GET",
                        url: url,
                        success: function (response) {
                            console.log(response);
                            $('#exampleModal').find('.modal-body').html(response);
                        },
                        error: function(error){ 
                            alert("error");
                        }
                    });
        }
    </script>
}
