@model List<WorkExpViewModel>
<style>
    <link href="~/css/job_vacancy/jobcommonstyle.css" rel="stylesheet"/>
</style>

@* 工作經驗選擇區 *@
<div id="expSelectArea">
    <div class="checkbox-list">
        @if (Model != null && Model.Any())
        {
            @for (int i = 0; i < Model.Count; i++)
            {
                var viewModel = Model[i];
                var checkboxId = "workexp" + viewModel.WorkExpID;
                var isChecked = viewModel.IsInResume ? "checked" : "";

                <div class="form-check">
                    <input class="form-check-input cbWorkExp" type="checkbox" id="@checkboxId" workExp-id="@viewModel.WorkExpID" @isChecked>
                    <label class="form-check-label" for="@checkboxId">@viewModel.CompanyName／@viewModel.JobTitle／@viewModel.Start ~ @viewModel.End</label>
                    <a><i class="bi bi-pencil-fill" role="button" onclick="EditWorkExp(@viewModel.WorkExpID)"></i></a>
                </div>
            }
        }


        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="addNewWorkExp" value="">
            <label class="form-check-label" for="addNewWorkExp"><a role="button" onclick="GetAddWorkExpView()">新增工作經驗</a></label>
        </div>

    </div>
    <button id="btnExpSelectConfirm" type="button" class="btn btn-normal">確定</button>
    <button id="btnExpSelectCancel" type="button" class="btn btn-cancel">取消</button>
</div>

<div class="workExpList" id="expListArea" style="display: none;">
    @* 根據選擇項目，顯示工作經驗卡片 *@
</div>


<div id="workExp_switch_form">
    @* 工作經驗新增或編輯表單 *@
</div>


<script>

    
    //編輯區字數計算的方法
    function setupTextareaWordCount(textareaSelector, wordCountElementId, maxLength) {
        const textarea = document.querySelector(textareaSelector);
        const wordCount = document.getElementById(wordCountElementId);
        wordCount.textContent = textarea.value.length; // 初始化字數顯示

        textarea.addEventListener('input', function () {
            let content = textarea.value;
            let currentLength = content.length; // 獲取當前字數

            // 如果超過最大字數，則截斷內容並更新 textarea 內容與字數顯示
            if (currentLength > maxLength) {
                textarea.value = content.slice(0, maxLength);
                currentLength = textarea.value.length;
            }

            // 更新字數顯示
            wordCount.textContent = currentLength;
        });
    }

    //新增工作經驗（_CreateWorkExpPartialView）
    function GetAddWorkExpView() {

        const workExpForm = $("#workExp_switch_form");
        $.ajax({
            type: 'GET',
            url: "/job_vacancy/jobforStudent/GetAddWorkExpView/" + studentID,
            success: function (result) {
                console.log('呼叫工作經驗新增表單 success');
                workExpForm.html(result);

                //設定工作經驗編輯區字數顯示
                setupTextareaWordCount('.word_count_workexp', 'wordcount_workexp', 500);

                //隱藏選擇工作經驗區域
                $('#expSelectArea').hide();
            },
            error: function (error) {
                console.error('呼叫工作經驗新增表單 error', error);
                workExpForm.html(`<div class="alert alert-danger" role="alert">請求失敗：${error.statusText}</div>`);
            }
        });
    }

    //編輯工作經驗
    function EditWorkExp(workExpID) {

        const workExpForm = $("#workExp_switch_form");
        $.ajax({
            type: 'GET',
            url: "/job_vacancy/jobforStudent/GetEditWorkExpView/" + workExpID,
            success: function (result) {
                console.log('呼叫工作經驗編輯表單 success');
                workExpForm.html(result);

                //設定工作經驗編輯區字數顯示
                setupTextareaWordCount('.word_count_workexp', 'wordcount_workexp', 500);

                //隱藏選擇工作經驗區域
                $('#expSelectArea').hide();
            },
            error: function (error) {
                console.error('呼叫工作經驗編輯表單 error', error);
                workExpForm.html(`<div class="alert alert-danger" role="alert">請求失敗：${error.statusText}</div>`);
            }
        });
    }

    $(document).ready(function () {


        //紀錄選取的工作經驗
        function GetSelectedWorkExpIDs() {

            selectedWorkExpIDs = [];

            $('.cbWorkExp').each(function () {

                //工作經驗ID
                var workExpId = $(this).attr('workExp-id');

                if ($(this).prop('checked')) {
                    selectedWorkExpIDs.push(workExpId);
                }
            });

            //宣告編輯履歷的summit事件需要用到的工作經驗ID集合
            window.resumeWorkIDForSummit = selectedWorkExpIDs.map(function(id) {
                return parseInt(id);
            });

            return selectedWorkExpIDs;
        }


        function ShowWorkExpCards(selectedIDs) {
            // 清空 expListArea 中的內容
            $('#expListArea').empty();

            // 將 Model 序列化為 JSON 字符串並轉換為 JavaScript 對象
            var workData = @Html.Raw(Json.Serialize(Model));

            // 將工作經驗項目轉換為以 workExpID 為鍵的對象
            var workDataObject = {};
            workData.forEach(item => {
                workDataObject[item.workExpID] = item;
            });

            // 遍歷 selectedIDs，並根據 workExpID 查找對應的工作經驗項目
            selectedIDs.forEach(function (id) {
                var workitem = workDataObject[id];
                if (workitem) {
                    // 將工作經驗項目顯示在畫面上
                    $('#expListArea').append(
                        `<div class="exp-item" workExp-id="${id}">
                            <div class="d-flex w-100 justify-content-between">
                                <h5>${workitem.jobTitle}</h5>
                                <button type="button" class="btn-close"></button>
                            </div>
                            <p class="mb-1">${workitem.companyName} ${workitem.start} - ${workitem.end}</p>
                            <p class="mt-2">
                                ${workitem.jobContent}
                            </p>
                        </div>`
                    );
                } else {
                    $('#expListArea').append('<div>未找到相應的資料</div>');
                }
            });
        }


        //取消選取工作經驗
        function removeWorkExpItem(workExpID) {

            var index = selectedWorkExpIDs.indexOf(workExpID);
            if (index !== -1) {
                selectedWorkExpIDs.splice(index, 1); // 從列表中移除該項目
            }

            ShowWorkExpCards(selectedWorkExpIDs);
        }

        //在工作經驗卡上的刪除鈕加上事件
        $('#expListArea').on('click', '.btn-close', function () {
            var workExpID = $(this).closest('.exp-item').attr('workExp-id');
            removeWorkExpItem(workExpID);
        });


        // 確認選擇工作經驗（關閉編輯區並顯示卡片）
        $('#btnExpSelectConfirm').click(function () {

            var selectedIDs = GetSelectedWorkExpIDs();

            if (selectedIDs.length === 0) {
                $('#workExpCheck').prop('checked', true);
            } else {
                $('#workExpCheck').prop('checked', false);
                ShowWorkExpCards(selectedIDs);
            }

            $('#expSelectArea').hide();
            $('#btnExpAdd').show();
            $('#expListArea').show();
        });

        // 取消工作經驗（關閉編輯區）
        $('#btnExpSelectCancel').click(function () {
            $('#expSelectArea').hide();
            $('#btnExpAdd').show();
        });
    });

</script>