@{
    ViewData["Title"] = "歡迎登入/註冊";
}
@model text_loginWithBackgrount.ViewModels.MemberViewModelWithPwd

<!-- 生日選擇套件 不用可移除-->
<!-- Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<!-- 包含中文語言文件 -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/zh.js"></script>


@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>@ViewData["Title"]</h2>
                        <p>
                            您好，歡迎來到 Rasengan +！
                            如果您已經是我們的會員，請在下方輸入您的帳號和密碼登入。
                            如果您是第一次使用我們的服務，請點擊「註冊」按鈕，創建一個新的帳戶。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <!-- 導覽列項目設置，請根據目前網頁的深度增減 -->
                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>
        </nav>
    </div>
}

<!-- ========================================================
       Contact Section
========================================================= -->
<!-- 聯絡資訊區 -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>學員註冊</h2>
            <p>
                請輸入您的帳號(電子信箱)以及密碼做註冊動作
            </p>
        </div>

        <!-- 表單區 -->
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form asp-action="StudentRegister" role="form" class="php-email-form" id="StudentRegiest">
                    <div class="row">
                        <div class="col-md-8 form-group mt-3">
                            @if (@TempData["RegiestName"] != null)
                            {
                                <input asp-for="姓名" class="form-control" placeholder="姓名" id="name" value="@TempData["RegiestName"]" readonly style="background-color: #cccccc;">
                            }
                            else
                            {
                                <input asp-for="姓名" class="form-control" placeholder="姓名" id="name">                                
                            }
                            <span asp-validation-for="姓名" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group mt-3">
                            <select asp-for="性別" class="form-control" id="gender" required>
                                <option value="">請選擇性別</option>
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                            <span asp-validation-for="性別" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group mt-3">
                            <input asp-for="身分證字號" class="form-control" placeholder="身分證字號" id="id_number">
                            <span asp-validation-for="身分證字號" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group mt-3">
                            <div class="col-md-8 form-group mt-3">
                                @if (@TempData["RegiestEmail"] != null)
                                {
                                    <input asp-for="信箱" class="form-control" placeholder="信箱" id="email" value="@TempData["RegiestEmail"]" readonly style="background-color: #cccccc;">
                                }
                                else
                                {
                                    <input asp-for="信箱" class="form-control" placeholder="信箱" id="email">
                                }
                            </div>
                            <span id="emailErrorMessage" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group mt-3">
                            <input asp-for="密碼" type="password" class="form-control" placeholder="密碼" id="password">
                            <span asp-validation-for="密碼" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group mt-3">
                            <input asp-for="密碼驗證" type="password" class="form-control" placeholder="密碼確認" id="confirm_password">
                            <span asp-validation-for="密碼驗證" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group mt-3">
                            <input asp-for="手機" class="form-control" placeholder="手機" id="phone">
                            <span asp-validation-for="手機" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group mt-3">
                            <input asp-for="地址" class="form-control" placeholder="地址" id="address">
                            <span asp-validation-for="地址" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group mt-3">
                            <input asp-for="生日" class="form-control" placeholder="生日" id="birthday">
                            <span asp-validation-for="生日" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group mt-3">
                            <input asp-for="學校" class="form-control" placeholder="學校" id="school">
                            <span asp-validation-for="學校" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group mt-3">
                            <input asp-for="科系" class="form-control" placeholder="科系" id="department">
                            <span asp-validation-for="科系" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group mt-3">
                            <select asp-for="學位" class="form-control" required id="degree">
                                <option value="">----請選擇最高學位----</option>
                                <option value="國小">國小</option>
                                <option value="國中">國中</option>
                                <option value="高中">高中</option>
                                <option value="大學">大學</option>
                                <option value="碩士">碩士</option>
                                <option value="博士">博士</option>
                            </select>
                            <span asp-validation-for="學位" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group mt-3">
                            <select asp-for="畢肄" class="form-control" required id="graduation">
                                <option value="">----請選擇畢肄業狀態----</option>
                                <option value="畢業">畢業</option>
                                <option value="肄業">肄業</option>
                            </select>
                            <span asp-validation-for="畢肄" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 text-center mt-3">
                            <button type="submit" id="btn_register">註冊</button>
                            <button type="button" id="fillDataBtn" class="btn btn-primary">DEMO</button>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message">請完成項目</div>
                                <div class="sent-message">註冊成功 3秒後跳轉登入畫面</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- End Contact Form -->
        </div>
    </div>
</section><!-- End Contact Section -->
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        $("#btn_register").click(async function (e) {
            e.preventDefault();

            let formData = $('#StudentRegiest').serialize();
            $(".loading").addClass('d-block');

            try {
                const response = await fetch('/Login/StudentRegister', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded' //好像一定要加?
                    },
                    body: formData
                });

                if (!response.ok) {
                    throw new Error('連線失敗');
                }

                $(".loading").removeClass('d-block');
                $(".error-message").removeClass('d-block');
                $(".sent-message").addClass('d-block');

                setTimeout(function () {
                    window.location.href = '/Login/StudentIndex';
                }, 3000);
            } catch (error) {
                $(".loading").removeClass('d-block');
                $(".error-message").addClass('d-block');
                console.error('錯誤!', error);
            }
        });




        $('#email').blur(function () {
            checkEmail();
        });
        function checkEmail() {
            var email = $('#email').val();
            var emailErrorMessage = $('#emailErrorMessage');

            if (email === "") {
                emailErrorMessage.text("請輸入有效的電子郵件地址");
                return;
            }

            $.ajax({
                url: '/Login/CheckEmailAvailability',
                type: 'POST',
                data: { email: email },
                success: function (response) {
                    if (response === true) {
                        emailErrorMessage.text('該信箱已經被使用');
                    } else {
                        emailErrorMessage.text('該信箱可使用');
                    }
                }
            });
        }


        function showError() {
            $(".error-message").addClass('d-block');
        }

        $('#fillDataBtn').click(function () {
            // 填充假資料
            $('#name').val('DEMO學生');
            $('#gender').val('男');
            $('#id_number').val('A123456789');
            $('#email').val('test1234@gmail.com');
            $('#password').val('1234567@@');
            $('#confirm_password').val('1234567@@');
            $('#phone').val('1234567890');
            $('#address').val('測試地址123');
            $('#birthday').val('1990-05-05');
            $('#school').val('某某大學');
            $('#department').val('某某系');
            $('#degree').val('大學');
            $('#graduation').val('畢業');
        });



        flatpickr("#birthday", {
            dateFormat: "Y-m-d", // 日期格式
            enableTime: false, // 禁用時間
            locale: "zh"
        });


    </script>

}

