@{
    ViewData["Title"] = "歡迎登入/註冊";
}
@section BreadcrumbsSection {
    <!-- ======= Breadcrumbs 麵包屑導航列 ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>@ViewData["Title"]</h2>
                        <p>
                            您好，歡迎來到 Rasengan +！
                            如果您已經是我們的會員，請在下方輸入您的帳號和密碼登入。
                            如果您是第一次使用我們的服務，請點擊「註冊」按鈕，創建一個新的帳戶。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <!-- 導覽列項目設置，請根據目前網頁的深度增減 -->
                <ol>
                    <li><a asp-area="" asp-controller="Template" asp-action="Index">首頁</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>
        </nav>
    </div>
}

<!-- ========================================================
       Contact Section
========================================================= -->
<!-- 聯絡資訊區 -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>學員登入</h2>
            <p>
                請輸入您的帳號(電子信箱)以及密碼做登入動作、
                登入後即能查看報名紀錄等相關資訊
            </p>
        </div>
        <div class="row gx-lg-0 gy-4">

            <div class="col-lg-4">

                <!-- 垂直列表（共有4列） -->
                <div class="info-container d-flex flex-column align-items-center">
                    <!-- 項目1 -->
                    <div class="info-item d-flex">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <span class="fs-4 fw-bold text-white">登入</span>
                            <p>Login</p>
                            <p>需調版面</p>                            
                        </div>
                    </div>
                    <!-- 項目2 -->
@*                      <div class="info-item d-flex">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <a href="#" class="fs-4 fw-bold text-white">忘記密碼</a>
                            <p>
                                Forgot Password
                            </p>
                        </div> 
                    </div> *@
                </div>
            </div>

            <!-- 表單區 -->
            <div class="col-lg-8">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form" id="StudentIndexform">
                    <div class="row">
                        <div class="form-group mt-3">
                            <input type="email" class="form-control" name="Account" id="Account" placeholder="請輸入電子信箱" value="spx3h@gmail.com" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="password" class="form-control" name="Password" id="Password" placeholder="請輸入密碼" value="1234567@@" required>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message">帳號密碼錯誤</div>
                        <div class="sent-message">完成登入</div>
                    </div>
                    <div class="text-center">
                        <button type="submit" id="btn_login">登入</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" id="btn_register">註冊</button>
                        <div style="float: right;">
                            <a asp-controller="Login" asp-action="StudentForgetPassword" class="fs-6 fw" style="align-self: flex-end;">忘記密碼</a>
                        </div>
                    </div>
                </form>
            </div><!-- End Contact Form -->
        </div>
    </div>
</section><!-- End Contact Section -->
@section Scripts
{
    <script>
        $("#btn_login").click(function (e) {
            e.preventDefault();
            let formData = $('#StudentIndexform').serialize();
            $(".loading").addClass('d-block');

            $.ajax({
                url: '@Url.Content("~/Login/StudentIndex")',
                method: 'POST',
                data: formData,
                success: function () {
                    $(".loading").removeClass('d-block');
                    // 如果請求成功導到學生專用頁
                    $(".error-message").removeClass('d-block');
                    $(".sent-message").addClass('d-block');
                    window.location.href = '@Url.Content("~/Template/Index")';
                },
                error: function (xhr, status, error) {
                    $(".loading").removeClass('d-block');
                    // 可以自行定義錯誤處理邏輯
                    showError();
                }
            });
        });

        $("#btn_register").click(function (e) {
            e.preventDefault();
            window.location.href = '@Url.Content("~/Login/StudentRegister")';
        });

        function showError() {
            $(".error-message").addClass('d-block');
        }

    </script>
}
